@media (min-width: 638px) and (max-width: 799px) {
	.container-top {
		padding: 0 0.5em;
		justify-content: space-between;
	}

	.container-box {
		height: 80px;
	}

	.container-box .container {
		margin-top: 2em;
	}

	.container {
		// height: 80px;
		width: 100vw;
	}

	.aside-div {
		display: none;
	}

	.regionbar {
		width: 150px;
	}

	.mainbox {
		width: 100vw;
		justify-content: space-between;
	}

	.navtop {
		padding: 0 1em;
		width: 100vw;

		&__element {
			padding: 0 0.5em;
			margin: 0 1em;
			height: 62px;
		}

		&__toolicon {
			&-logintext {
				display: none;
			}
		}

		&__logo {
			font-size: 1.5rem;
			padding-left: 0;
			&-img {
				width: 35px;
			}
		}

		&__toolicon {
			padding: 0.35em 0.7em;
			margin: 0.5em 0.1em;

			&-search {
				grid-column: 2/3;
			}

			&-login {
				grid-column: 3/4;
			}

			&-settings {
				grid-column: 4/5;
			}

			&-logintext {
				display: none;
			}
		}

		&__btnicon {
			font-size: 1.4rem;
		}

		&__search,
		&__login,
		&__pref,
		&__settingspanel {
			width: 100vw;
			max-width: 538px;
		}

		&__settings {
			left: -10px;
			width: 100vw;
		}

		&__search {
			&-sportslist {
				width: 150px;
			}

			&-inputbox {
				&-btn {
					display: flex;
					align-items: center;
					padding: 0.1em 0.2em;
					width: auto;
					font-size: 0.9rem;
				}

				&-dropdown {
					margin-left: 0.5em;
				}
			}
		}

		&__login {
			&-extrasbox,
			&-btn,
			&-smalltext {
				width: 300px;
			}
		}

		&__settingspanel {
			height: 80vh;
			overflow-y: scroll;
			&-gridpanel {
				display: flex;
				flex-direction: column;
			}
		}

		&__pref {
			position: absolute;
			// max-height: 80vh;
			position: fixed;
			top: 0;
			left: 0;
			overflow-y: scroll;

			&-headerbox {
				height: 72px;

				&-header {
					font-size: 2rem;
				}

				&-logo {
					width: 40px;
				}
			}

			&-mainbox {
				flex-wrap: wrap;

				&-list {
					width: 100%;
					height: 40vh;
					overflow-y: scroll;
				}

				&-textbox {
					margin: 0;
					height: auto;
					width: 100%;
					overflow-y: scroll;
				}
			}

			&-btnbox {
				flex-direction: column;
				height: auto;
				bottom: 10%;

				&-btn {
					margin: 0 0.55em;
					margin-bottom: 1em;
					width: 90vw;
				}
			}

			// &-btnbox2{
			// 	width: 100%;
			// }

			&-vendorsbox {
				// position: fixed;
				// top: 0;
				// left: 0;
				height: 65vh;
				background-color: black;

				&-top {
					flex-wrap: wrap;

					&-text {
						width: 80%;
					}
				}

				&-mainbox {
					align-items: center;
				}

				&-inputbox {
					margin-top: 1em;
					width: 78%;
				}

				&-filterbtn {
					margin: 1em 1em 0 auto;
				}

				&-element {
					padding: 1em;
					width: 80vw;
				}

				&-filterslist {
					top: 110px;
					width: 250px;
				}

				&-anchor {
					top: 100px;
				}

				&-btnmobile {
					padding: 1em 1.5em;
					width: 42%;
				}
			}
		}
	}

	.navcategories {
		padding: 1em;
		// width: 100vw;

		&__element {
			position: relative;
			font-size: 1.3rem;
			margin: 0 0.5em;
			padding: 1em 0.5em 0 .5em;

			&:nth-of-type(5),
			&:nth-of-type(6),
			&:nth-of-type(7),
			&:nth-of-type(8) {
				display: none;
			}

			&--icon {
				margin-bottom: 0.5em;
				font-size: 1.8rem;
			}
		}

		&__morebtn {
			flex-direction: row;
			align-items: center;
			margin-left: auto;
		}

		&__menu {
			width: 100vw;
			height: auto;

			&-number {
				margin-left: auto;
			}
		}
	}

	.scores {
		width: 65vw;

		&__nav {
			padding-right: 1.5em;
			// padding: 0;
			width: 65vw;
			flex-wrap: wrap;
			overflow: hidden;
		}

		&__navbtn {
			font-size: 1.2rem;
		}

		&__selectbtnbox {
			margin: 1em 0.5em;
			display: flex;
			justify-self: center;
			align-content: center;
			justify-content: center;
			padding-right: 0;
			width: 65vw;
		}

		&__maincontrolbtn {
			width: 65vw;
		}

		&__controlbtn {
			width: 10vw;
		}

		&__days {
			top: 5.5%;
			right: 5%;
			width: 90%;
		}

		&__daylist {
			&-day {
				font-size: 1.5rem;
			}
		}

		&__heading {
			display: flex;
			align-items: center;
			padding: 0.5em 0em;

			:nth-child(3) {
				display: flex;
				flex-direction: column;
				margin-left: 0.5em;
				// font-size: 2rem;
			}
		}

		&__leaguelivebottom {
			padding: 0.5em;
		}

		&__time {
			order: 2;
			margin-left: auto;
		}

		&__livebtn {
			order: 3;
		}

		&__star {
			font-size: 1.8rem;
		}

		&__previewbtn,
		&__audiobtn,
		&__channelsbtn,
		&__standingsbtn {
			display: none;
		}

		&__teamname {
			padding: 0.1em 0.2em;
		}

		// &__livebtn{
		// 	margin-left: auto;
		// }

		&__showbtn {
			margin-left: auto;
			font-size: 1.5rem;
			// width: 50%;
		}
	}

	.extracontent{
		margin-left: 34%;
	}
	.sitemap {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(2, 1fr);
		margin-top: 1em;

		&__flashscorebox,
		&__media,
		&__mobile {
			margin: 1em 0;
			height: auto;
		}

		&__btn {
			width: auto;
			margin-right: 1em;
		}

		&__mobile {
			&-btnbox {
				display: flex;
			}
		}
	}

	.sitemapbottom {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(1, 1fr);

		&__mobile {
			grid-column: 1/3;
			grid-row: 2/-1;
			height: auto;
		}
	}

	.footer-container {
		margin-bottom: 6em;
		width: 100vw;
	}

	.footer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		margin-top: 1em;
		padding: 1.5em 1.1em;
		height: auto;

		&__liteversion {
			margin-right: 0;
		}

		&__img {
			display: none;
		}

		&__text,
		&__link {
			margin-top: 0.7em;
		}

		&__text {
			display: flex;
			flex-direction: column;
		}
	}

	.mainboxbottom {
		width: 100vw;
		padding: 0 1em;
	}

	.topbtn {
		display: none;
		opacity: 0;
		z-index: -1000;
	}

	.prefbtn {
		display: none;
		position: absolute;
		bottom: 0;
	}
}

// @media (min-width: 380px) {
// 	.navcategories {
// 		&__element {
// 			&:nth-of-type(4) {
// 				display: flex;
// 			}
// 		}
// 	}
// }

// @media (min-width: 420px) {
// 	.navcategories {
// 		&__element {
// 			&:nth-of-type(5) {
// 				display: flex;
// 			}
// 		}
// 	}

// 	.scores {
// 		&__nav {
// 			overflow: hidden;
// 		}

// 		&__navbtn {
// 			&:nth-of-type(5) {
// 				display: block;
// 			}
// 		}
// 	}
// }

// @media (min-width: 460px) {
// 	.navcategories {
// 		&__element {
// 			&:nth-of-type(6) {
// 				display: flex;
// 			}
// 		}
// 	}
// }

// @media (min-width: 500px) {
// 	.navcategories {
// 		&__element {
// 			&:nth-of-type(7) {
// 				display: flex;
// 			}
// 		}
// 	}
// }
