@media (max-width: 638px) {
	body {
		// padding: 0 0.5em;
		width: 100%;
		overflow-x: hidden;
	}

	.container-top {
		padding: 0 0.5em;
		justify-content: space-between;
		width: 100%;
	}

	.container-box {
		width: 100%;
	}
	
	.container {
		height: 80px;
		width: 100%;
	}

	.container-box .container {
		height: auto;
	}

	.aside-div {
		display: none;
	}

	.navtop {
		margin-bottom: 1em;
		height: 92px;
		height: 100px;
		width: 100%;

		&__element {
			padding: 0 0.5em;
			height: 62px;
			font-size: 1.3rem;

			&:nth-of-type(1) {
				grid-column: 1/8;
				grid-row: 0/1;
				padding-top: 0;
			}

			&:nth-of-type(2) {
				position: absolute;
				top: 50px;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0.25em 0.5em;
				margin-top: 0.5em;
				height: auto;
				width: 50%;
			}

			&:nth-of-type(3) {
				position: absolute;
				top: 50px;
				right: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0.25em 0.5em;
				margin-top: 0.5em;
				height: auto;
				width: 50%;
			}
		}

		&__icon {
			margin: 1em 1em 1em 1em;
			font-size: 1rem;

			&-btn {
				margin: 1em 1em 0em 1em;
			}
		}

		&__left {
			display: grid;
			grid-template-columns: repeat(10, 1fr);
			grid-template-rows: repeat(5, 0.1fr);
		}

		&__right {
			position: absolute;
			top: 8px;
			right: 0;
			display: grid;
			grid-template-columns: repeat(4, 40px);
			grid-template-rows: repeat(2, 0.1fr);
			height: 62px;
		}

		&__logo {
			font-size: 1.5rem;
			padding-left: 0;

			&-img {
				margin-bottom: auto;
				width: 35px;
			}

			&-text{
				margin: 0.4em 0 auto 0;
			}
		}

		&__toolicon {
			display: flex;
			align-items: center;
			justify-self: flex-end;
			padding: 0.35em 0.7em;
			margin: 0 .1em;
			height: 32px;
			width: 32px;

			&-search {
				grid-column: 2/3;
			}

			&-login {
				grid-column: 3/4;
			}

			&-settings {
				grid-column: 4/5;
				margin-right: .5em;
			}

			&-logintext {
				display: none;
			}
		}

		&__btnicon {
			font-size: 1.4rem;
		}

		&__search,
		&__login,
		&__pref,
		&__settingspanel {
			width: 100%;
			max-width: 538px;
		}

		&__settings {
			left: -10px;
			width: 100%;
		}

		&__search {
			&-sportslist {
				width: 150px;
			}

			&-inputbox {
				&-btn {
					display: flex;
					align-items: center;
					padding: 0.1em 0.2em;
					width: auto;
					font-size: 0.9rem;
				}

				&-dropdown {
					margin-left: 0.5em;
				}
			}
		}

		&__login {
			&-extrasbox,
			&-btn,
			&-smalltext {
				width: 300px;
			}
		}

		&__settingspanel {
			height: 80vh;
			overflow-y: scroll;
			&-gridpanel {
				display: flex;
				flex-direction: column;
			}
		}

		&__pref {
			position: absolute;
			// max-height: 80vh;
			position: fixed;
			top: 0;
			left: 0;
			overflow-y: scroll;

			&-headerbox {
				height: 72px;

				&-header {
					font-size: 2rem;
				}

				&-logo {
					width: 35px;
				}
			}

			&-mainbox {
				flex-wrap: wrap;

				&-list {
					width: 100%;
					height: 40vh;
					overflow-y: scroll;
				}

				&-textbox {
					margin: 0;
					height: auto;
					width: 100%;
					overflow-y: scroll;
				}
			}

			&-btnbox {
				flex-direction: column;
				height: auto;
				bottom: 10%;

				&-btn {
					margin: 0 0.55em;
					margin-bottom: 1em;
					width: 100%;
				}
			}

			// &-btnbox2{
			// 	width: 100%;
			// }

			&-vendorsbox {
				// position: fixed;
				// top: 0;
				// left: 0;
				height: 65vh;
				background-color: black;

				&-top {
					flex-wrap: wrap;

					&-text {
						width: 80%;
					}
				}

				&-mainbox {
					align-items: center;
				}

				&-inputbox {
					margin-top: 1em;
					width: 78%;
				}

				&-filterbtn {
					margin: 1em 1em 0 auto;
				}

				&-element {
					padding: 1em;
					width: 80%;
				}

				&-filterslist {
					top: 110px;
					width: 250px;
				}

				&-anchor {
					top: 100px;
				}

				&-btnmobile {
					padding: 1em 1.5em;
					width: 42%;
				}
			}
		}
	}

	.regionbar {
		display: none;
		position: absolute;
		top: 205px;
		padding: 1.2em;
		width: 100%;
		height: auto;
		background-color: #010a0f;
		background-color: white;
		overflow: hidden;
		z-index: 100;

		&__heading {
			font-size: 1.3rem;
		}

		&__region {
			font-size: 1.3rem;
		}
	}

	.navcategories {
		justify-content: space-between;
		margin: 0;
		padding-right: 1em;
		width: 100%;

		&__element {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0;
			padding: 1em 0.5em 0;
			height: 100%;
			font-size: 0.9rem;

			&:nth-of-type(5),
			&:nth-of-type(6),
			&:nth-of-type(7),
			&:nth-of-type(8) {
				display: none;
			}

			&-zero {
				position: absolute;
				top: 0;
				right: 0;
			}

			&--icon {
				margin-bottom: 0.5em;
				font-size: 1.8rem;
			}
		}

		&__morebtn {
			flex-direction: column-reverse;
			justify-content: center;
			padding: 0;
			margin: 0 0em .6em 0;
		}

		&__menu {
			right: 0;
			height: auto;
			width: 100%;
			overflow: auto;

			&-element{
				width: 100%;
			}

			&-number {
				margin-left: auto;
			}
		}
	}

	main {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.scores {
		padding: 0;
		margin-top:0;
		width: 100%;

		&__nav {
			flex-wrap: wrap;
			padding: 1em 0 0 0;
			margin-left: 0;
			width: 100%;
			overflow-x: scroll;
		}

		&__navbtn {
			margin-bottom: 1.2em;
			font-size: 1.2rem;

			&:nth-of-type(5) {
				display: none;
			}
		}

		&__selectbtnbox {
			display: flex;
			justify-self: center;
			align-content: center;
			justify-content: space-between;
			padding: 1em;
			margin-right: 0;
			width: 100%;
		}

		&__maincontrolbtn {
			margin: 0 0.5em;
			width: 70%;
		}

		&__controlbtn {
			width: 30px;
		}

		&__days {
			top: 5.5%;
			right: 5.3%;
			width: 90%;
		}

		&__daylist {
			&-day {
				font-size: 1.5rem;
			}
		}

		&__heading {
			display: flex;
			align-items: center;
			padding: 0.5em 0em;

			:nth-child(3) {
				display: flex;
				flex-direction: column;
				margin-left: 0.5em;
				// font-size: 2rem;
			}
		}

		&__leaguelivetop{
			padding: 0 .5em;
		}

		&__leaguelivebottom {
			padding: .5em;
		}

		&__time {
			order: 2;
			margin-left: auto;
		}

		&__livebtn {
			margin: 0;
			padding: .5em .1em;
			order: 3;
		}

		&__star {
			font-size: 1.8rem;
		}

		&__previewbtn,
		&__audiobtn,
		&__channelsbtn
		{
			display: none;
		}

		&__standingsbtn{
			margin-left: auto;
		}

		&__teamname {
			padding: 0.1em 0.2em;
			&:nth-of-type(odd){
				margin-bottom: .1em;
			}
		}

		&__showbtn {
			margin:0 .5em 0 1em;
			font-size: 1.5rem;
		}
	}

	.sitemap {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		&__flashscorebox,
		&__media,
		&__mobile {
			margin: 0.5em 0;
			padding-right: 2em;
			height: auto;
			width: 50%;

			&-link{
				width: 50%;
			}
		}

		&__btn {
			margin: 0 1em 1em 0;
			// &:nth-of-type(2){
			// 	margin-right: auto;
			// }
		}

		&__mobile {
			width: 90%;

			&-btnbox {
				display: flex;
				flex-wrap: wrap;
			}
		}
	}

	main {
		padding: 0;
		width: 100%;
	}

	.mainboxbottom {
		padding: 0;
		width: 100%;
	}

	.mainbox{
		margin-top: 0;
		width: 100%;
	}

	.extracontent {
		display: flex;
		flex-direction: column;
		margin: 1em 0 0.5em 0;
		padding: 1em 2em 1em .5em;
		width: 100%;

		&__text{
			padding: 0 .5em;
		}
	}

	.sitemap,
	.sitemapbottom {
		padding-top: 1.5em;
		margin-top: 0;
		width: 100%;
	}

	.footer-container {
		margin-bottom: 6em;
		padding: 0;
		width: 100%;
	}

	.footer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		margin-top: 1em;
		padding: 2em 1.2em;
		height: auto;

		&__liteversion {
			margin-right: 0;
		}

		&__img {
			display: none;
		}

		&__text,
		&__link {
			margin-top: 0.7em;
		}

		&__text {
			display: flex;
			flex-direction: column;
		}
	}

	.topbtn {
		display: none;
		opacity: 0;
		z-index: -1000;
	}

	.prefbtn {
		display: none;
		position: absolute;
		bottom: 0;
	}
}

@media (min-width: 380px) and (max-width: 640px) {
	.navcategories {
		&__element {
			&:nth-of-type(5) {
				display: flex;
			}
		}
	}
}

@media (min-width: 430px) and (max-width: 640px) {
	.navcategories {
		&__element {
			&:nth-of-type(6) {
				display: flex;
			}
		}
	}

	.scores {
		&__nav {
			overflow: hidden;
		}

		&__navbtn {
			&:nth-of-type(5) {
				display: block;
			}
		}
	}
}

@media (min-width: 480px) and (max-width: 640px) {
	.navcategories {
		&__element {
			&:nth-of-type(7) {
				display: flex;
			}
		}
	}

	.scores{
		&__maincontrolbtn{
			width: 85%;
		}
	}
}

@media (min-width: 530px) and (max-width: 640px) {
	.navcategories {
		&__element {
			&:nth-of-type(8) {
				display: flex;
			}
		}
	}
}
