* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	background-color: rgb(1, 10, 15);
	color: rgb(238, 238, 238);
	height: 100vh;
	overflow-x: hidden;
	// font-family: 'Quattrocento Sans', sans-serif;
}

button {
	cursor: pointer;
}

.container,
.container-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.containerbox .container {
	height: 60px;
}

.container {
	max-width: 1048px;
}

.container-box {
	border-bottom: 1px solid #999;
}

.fa-star {
	color: gold;
	font-size: 1.5rem;
}

.topbtn,
.prefbtn {
	position: fixed;
	bottom: 15px;
	justify-content: center;
	align-items: center;
	padding: 0.25em 0.5em;
	width: 40px;
	height: 40px;
	background-color: #0f2d37;
	border: none;
	border-radius: 8px;
}

.modalwindow {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	z-index: 3000;
}

// NAV
.nav {
	&__active {
		color: #ff0046;
		border-bottom: 3px solid #ff0046;
	}
}

.navtop {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: #001e28;

	&__left,
	&__right {
		display: flex;
		width: 50%;
	}

	&__left {
		height: 100%;
		align-items: center;
		justify-self: flex-start;
	}

	&__right {
		justify-content: flex-end;
	}

	&__element {
		display: flex;
		align-items: center;
		padding: 1em 1.5em;
		height: 88px;
		background-color: #001e28;
		color: #ddd;
		font-size: 1.3rem;
		text-decoration: none;
		text-transform: uppercase;

		&-active {
			background-color: #010a0f;
			border-bottom: 4px solid #b30130;
			color: #fff;
		}

		&:hover {
			color: #fff;
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		padding-left: 0.2em;
		font-family: 'Bruno Ace SC', cursive;
		font-size: 2rem;
		font-weight: bold;

		&-img {
			width: 40px;
		}
	}

	&__icon {
		padding: 0.5em 1em;

		&-btn {
			padding: 0.25em 0.5em;
			background-color: #b30130;
			color: #fff;
			font-size: 0.8rem;
			text-transform: uppercase;
			border-radius: 8px;
		}
	}

	&__toolicon {
		margin: 0.5em;
		padding: 0.75em 1em;
		background-color: #0f2d37;
		color: rgb(200, 205, 205);
		border: none;
		border-radius: 8px;
		transition: background-color 0.3s;

		&:hover {
			background-color: #010a0f;
		}
	}

	&__btnicon {
		font-size: 1.5rem;
		pointer-events: none;

		&-settings {
			width: 20px;
			font-size: 2rem;
		}
	}

	&__icon {
		margin-right: 0.3em;
		padding: 0.2em;
		font-size: 1.5rem;
		border: 1px solid rgb(200, 205, 205);
		border-radius: 8px;
	}

	&__settings {
		position: absolute;
		top: 80px;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1em;
		width: 320px;
		height: 120px;
		border-radius: 1.5em;
		z-index: 200;
	}

	&__settingsbtn {
		display: flex;
		align-items: center;
		width: 100%;
		height: 50%;
		background-color: #010a0f;
		color: #eee;
		border: none;
		border-radius: 8px;
		z-index: 100;

		&-icon {
			width: 60px;
			padding: 0.5em 1em;
			font-size: 2rem;
		}

		&-toggle,
		&-arrow {
			margin-left: auto;
			padding: 0.5em 1em;
			font-size: 1.5rem;
		}

		&-toggle {
			position: relative;
			margin-right: 0.5em;
			width: 32px;
			height: 20px;
			background-color: lime;
			border-radius: 37%;
			// animation: toggleSettings2 0.5s linear 2s forwards 1;

			&::before {
				position: absolute;
				top: 4px;
				right: 2px;
				width: 12px;
				height: 12px;
				background-color: #fff;
				border-radius: 50%;
				content: '';
				// transition: transform 0.5s linear 0;
				// animation: toggleSettings 0.5s linear 2s forwards 1;
			}
		}
	}

	&__search,
	&__login,
	&__pref,
	&__settingspanel {
		position: absolute;
		top: 92px;
		display: flex;
		flex-direction: column;
		width: 538px;
		border-radius: 1em;
		z-index: 3001;
	}

	&__search {
		padding: 1.5em 0;
		min-height: 320px;
		background-color: rgb(1, 10, 15);
		height: 80vh;

		&-top {
			display: flex;
			justify-content: space-between;
			padding: 0 1em 0 2em;
			border-bottom: 1px solid #0f2d37;
		}

		&-heading {
			margin-bottom: 1em;
			font-weight: bold;
			font-size: 1.8rem;
		}

		&-closeicon {
			font-size: 2.5rem;
			color: #999;
			cursor: pointer;
		}

		&-list {
			padding: 0 2.4em;
			overflow-y: scroll;
		}

		&-inputbox {
			display: flex;
			align-items: center;
			align-self: center;
			justify-content: space-between;
			padding: 0.3em;
			margin: 2em 0;
			width: 92%;
			border: 2px solid #c8cdcd;
			border-radius: 1em;

			&-input,
			&-btn {
				background-color: transparent;
				border: none;
				border-radius: 8px;
				outline: none;
			}

			&-input {
				padding: 0 0.5em;
				width: 65%;
				color: #c8cdcd;
			}

			&-btn {
				padding: 0.5em 1.2em;
				width: 33.5%;
				color: #ddd;
				font-size: 1rem;
				font-weight: bold;
				text-transform: uppercase;
			}

			&-dropdown {
				font-size: 1.6rem;
				pointer-events: none;
			}
		}

		&-sportslist {
			position: absolute;
			top: 19.5%;
			right: 4%;
			padding: 0.5em;
			width: 30%;
			height: 75%;
			background-color: #010a0f;
			border: 1px solid #ddd;
			overflow: auto;
			z-index: 2000;

			&-element {
				padding: 0.5em;
				font-size: 1.3rem;
				border-radius: 8px;
				cursor: pointer;

				&-active {
					background-color: #ff0046;
				}
			}
		}

		&-text {
			padding: 0 2em;
			margin-bottom: 1em;
			font-size: 1.3rem;
		}

		&-mostpopular {
			padding: 0 2em;
			font-size: 1.2rem;
			text-transform: uppercase;
		}

		&-textbottom,
		&-mostpopular {
			color: #c8cdcd;
		}

		&-listelement {
			display: flex;
			align-items: center;
			padding: 0.5em;
			margin: 1em 0;
			border-radius: 8px;
			cursor: pointer;

			&:hover {
				background-color: #3f4446;
			}
		}

		&-img {
			margin-right: 1.5em;
			width: 30px;
			height: 30px;
			border-radius: 8px;
		}

		&-texttop {
			margin-bottom: 0.2em;
			font-weight: bold;
			color: #eee;
			font-size: 1.3rem;
		}

		&-textbottom {
			font-size: 1.1rem;
		}

		&-icon {
			margin-left: auto;
		}
	}

	&__login {
		justify-content: center;
		align-items: center;
		background-color: #010a0f;

		&-closebtn {
			padding: 0.5em 1em;
			margin-left: auto;
			font-size: 2.5rem;
			color: #999;
			cursor: pointer;
		}

		&-heading {
			margin: 0.5em 0;
			font-size: 2.2rem;
			color: #eee;
		}

		&-extrasbox {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 0.5em;
			padding: 1em 1em 0.5em;
			width: 59.5%;
			background-color: #001e28;
			border-radius: 8px;
		}

		&-text {
			padding: 0.5em 1em 0;
			font-size: 1.3rem;
		}

		&-cardbox {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&-card {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			padding: 0em 1em 0.5em;
			font-size: 1.2rem;
		}

		&-icon {
			padding: 0.25em 0.5em;
			font-size: 2.4rem;
		}

		&-btn {
			display: flex;
			padding: 0.75em 1.5em;
			margin: 0.5em;
			width: 60%;
			background-color: transparent;
			color: #eee;
			border: 1px solid rgb(85, 94, 97);
			border-radius: 8px;
			text-align: center;

			&:hover {
				background-color: rgba(122, 118, 118, 0.5);
			}
		}

		&-btntext {
			margin-right: auto;
			font-size: 1.4rem;
			font-weight: bold;
		}

		&-whitebtn {
			background-color: #fff;
			color: #555e61;
		}

		&-btnicon {
			margin-right: auto;
			font-size: 1.8rem;
		}

		&-googleicon {
			padding: 0.1em;
			color: rgb(19, 199, 19);
		}

		&-smalltext {
			margin: 1em 0 4em;
			width: 60%;
			color: #c8cdcd;
			font-size: 1.1rem;
			text-align: center;
		}

		&-link {
			color: #c8cdcd;
			font-weight: bold;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&__settingspanel {
		padding: 0 2.4em 1em;
		height: 78vh;
		background-color: rgb(1, 10, 15);
		overflow-y: scroll;

		&-top {
			display: flex;
			align-items: center;
			padding: 0.85em 0;
			border-bottom: 1px solid #0f2d37;
		}

		&-icon {
			padding: 0.15em 0.3em;
			margin-left: auto;
			font-size: 3rem;
			color: #868b8d;
			cursor: pointer;
		}

		&-sectionheader {
			font-size: 1.8rem;
		}

		&-header {
			margin-bottom: 1em;
			font-size: 1.6rem;
			font-weight: bold;
		}

		&-panel {
			padding: 2.7em 0;
			border-bottom: 1px solid #0f2d37;

			&:last-child {
				border: none;
				padding-bottom: 1em;
			}
		}

		&-gridpanel {
			display: grid;
			grid-template-columns: repeat(3, minmax(90px, 20%));
		}

		&-time,
		&-text,
		&-option {
			font-size: 1.3rem;
		}

		&-time {
			padding: 0.5em 1em;
			background: transparent;
			border: 1px solid #0f2d37;
			color: #ddd;
		}

		&-text {
			margin: 0.5em 0;
		}

		&-options {
			display: flex;
			align-items: center;
			padding: 0.5em;
		}

		&-btn {
			position: relative;
			margin-right: 1em;
			width: 16px;
			height: 16px;
			border: 1px solid #14dc4b;
			border-radius: 50%;

			// &::before {
			// 	position: absolute;
			// 	top: 2px;
			// 	left: 2px;
			// 	width: 10px;
			// 	height: 10px;
			// 	background-color: #14dc4b;
			// 	border-radius: 50%;
			// 	content: '';
			// }
		}
	}

	&__pref {
		position: fixed;
		top: 15%;
		width: 730px;
		background-color: #02171f;

		&-headerbox {
			display: flex;
			align-items: center;
			padding: 1.2em 1.2em;
			border-bottom: 1px solid #0f2d37;

			&-logo {
				margin-right: 1em;
				margin-bottom: 0.5em;
			}

			&-header {
				font-size: 1.7rem;
				font-weight: bold;
			}
		}

		&-mainbox {
			display: flex;
			// flex-direction: column;
			// flex-wrap: nowrap;
			border-bottom: 1px solid #0f2d37;

			&-list {
				width: 32%;
				height: 425px;
				overflow-y: scroll;

				&::-webkit-scrollbar {
					width: 1.2em;
					background-color: transparent;
					border: none;
				}

				&::-webkit-scrollbar-thumb {
					background-color: rgb(201, 197, 197);
					border-radius: 8px;
				}
			}

			&-listelement {
				position: relative;
				padding: 1.2em 1.2em 1.2em 2em;
				background-color: #0f2d37;
				font-size: 1.2rem;
				font-weight: bold;
				border-bottom: 1px solid rgb(0, 20, 30);
				cursor: pointer;

				&:before {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 10px;
					background-color: rgb(0, 20, 30);
					content: '';
				}

				// &-active {
				// 	background-color: #010a0f;
				// }

				// &-activelm{
				// 	background-color: white !important;
				// }
			}

			&-btnbox {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-bottom: 1em;
				padding-left: 2em;

				&:first-child {
					margin-top: 1em;
				}

				&-header {
					margin-bottom: 1em;
					font-size: 1.3rem;
					font-weight: bold;
				}

				&-top {
					display: flex;
					align-items: center;
					justify-content: space-between;
				}

				&-bottom {
					font-size: 1.2rem;
					line-height: 1.85;
				}
			}

			&-textbox {
				padding: 1.2em;
				margin-left: 2em;
				width: 70%;
				height: 425px;
				// overflow-y: scroll;

				&:nth-of-type(7) {
					overflow-y: scroll;

					&::-webkit-scrollbar {
						width: 1.2em;
						background-color: transparent;
						border: none;
					}

					&::-webkit-scrollbar-thumb {
						background-color: darkgrey;
						border-radius: 8px;
					}
				}

				&-container {
					display: flex;
					align-items: center;
					justify-content: space-between;
				}

				&-header {
					margin-bottom: 1em;
					width: 75%;
					font-size: 1.4rem;
				}

				&-header2 {
					margin-right: 0.5em;
					text-align: right;
					font-weight: bold;
				}

				&-button {
					position: relative;
					height: 1em;
					width: 3em;
					background-color: #ddd;
					border-radius: 8px;

					&:before {
						position: absolute;
						top: -6px;
						right: -1px;
						background-color: #4285f4;
						width: 20px;
						height: 20px;
						border-radius: 50%;
						content: '';
						// transform: translateX(-90%);
					}
				}

				&-text,
				&-link,
				&_listbtn,
				&-legal {
					font-size: 1.2rem;
					line-height: 1.8;

					&:nth-child(3) {
						margin-top: 1em;
					}
				}

				&-link {
					color: #ddd;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}

				&-listbtn {
					background: transparent;
					color: #3860be;
					font-size: 1.2rem;
					font-weight: bold;
					border: none;

					&:hover {
						text-decoration: underline;
					}
				}

				&-legal {
					color: #e6e6e6;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}

				&-icon {
					margin-left: 0.2em;
					color: #3860be;
					cursor: pointer;
				}
			}
		}

		&-vendorsbox {
			position: relative;
			height: 425px;
			width: 100%;
			font-size: 1.2rem;
			overflow-y: scroll;

			&::-webkit-scrollbar {
				background-color: transparent;
				border: none;
			}

			&::-webkit-scrollbar-thumb {
				background-color: darkgrey;
				border-radius: 8px;
			}

			&-top {
				display: flex;
				align-items: center;
				border-bottom: 1px solid #0f2d37;
				padding: 1em 0;

				&-text {
					margin: 0 auto 0 0.5em;
				}
			}

			&-backbtn {
				padding: 0.25em 0.5em;
				background: transparent;
				color: #fff;
				font-weight: bold;
				border: none;
				font-size: 1.5rem;
			}

			&-filterbtn {
				position: relative;
				padding: 0.5em 0.7em;
				margin: 0 1.5em;
				background-color: #3860be;
				border-radius: 50%;
				border: 1px solid #fff;

				&:hover .shadow {
					z-index: 10;
				}

				&-icon {
					color: #fff;
				}
			}

			&-inputbox {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0.5em 1em;
				height: 32px;
				width: 45%;
				background-color: #414141;
				border: 1px solid #999;
				border-radius: 50px;
			}

			&-input {
				width: 80%;
				background: transparent;
				color: #ddd;
				border: none;
				outline: none;
				font-style: italic;
			}

			&-icon {
				font-size: 1.5rem;
			}

			&-mainbox {
				display: flex;
				flex-direction: column;
				padding: 1em 2em;
				margin-top: 1em;
			}

			&-element {
				display: flex;
				flex-wrap: wrap;
				margin: 0.5em 0;
				padding: 1em 2em;
				border: 1px solid #0f2d37;
				cursor: pointer;

				&:hover {
					outline: 1px solid #ddd;
				}

				&:first-of-type {
					border: none;
					&:hover {
						outline: none;
					}
				}

				&-left {
					display: flex;
					flex-direction: column;
				}

				&-right {
					display: flex;
					align-items: center;
					margin-left: auto;
				}

				&-top {
					color: #e6e6e6;
					margin-bottom: 0.5em;
					font-weight: bold;
				}

				&-bottom {
					color: #e6e6e6;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}

				&-showbtn {
					margin-left: 1em;
					padding: 0.5em 1em;
				}

				&-checkbox {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 0.5em;
					max-width: 25px;
					background-color: #3860be;
					border-radius: 8px;
				}

				&-privacylist {
					margin-top: 1em;
					padding: 1em 2em;
					width: 100%;
					background-color: #0f2d37;
					border: 1px solid #ddd;

					&-span {
						font-weight: bold;
						color: #999;
					}

					&-text {
						color: #ddd;
						line-height: 1.85;

						&:nth-of-type(2),
						&:nth-of-type(3),
						&:nth-of-type(10),
						&:nth-of-type(11),
						&:nth-of-type(13),
						&:nth-of-type(14),
						&:nth-of-type(15),
						&:nth-of-type(16) {
							border-bottom: 1px solid #999;
						}
					}
				}
			}

			&-anchor {
				position: absolute;
				top: 12%;
				right: 7%;
				width: 25px;
				height: 25px;
				background-color: #02171f;
				transform: rotate(45deg);
				box-shadow: rgb(199, 197, 199) 0px 0px 5px 2px;
				z-index: 10;
			}

			&-filterslist {
				position: absolute;
				top: 15%;
				right: 2%;
				display: flex;
				flex-direction: column;
				height: 350px;
				width: 38%;
				background-color: #001e28;
				box-shadow: rgb(199, 197, 199) 0px 0px 12px 2px;
				overflow-y: scroll;

				&::-webkit-scrollbar {
					background-color: transparent;
					border: none;
				}

				&::-webkit-scrollbar-thumb {
					background-color: darkgrey;
					border-radius: 8px;
				}

				&-top {
					margin: 2em 1em 1em auto;
					color: rgb(97, 95, 95);
					cursor: pointer;
					z-index: 20;
				}

				&-box {
					display: flex;
					flex-direction: column;
					justify-content: center;
				}

				&-filter {
					display: flex;
					align-items: center;
					padding: 0.5em 0 0.5em 1em;

					&-text {
						margin-left: 0.5em;
					}

					&-btn {
						margin-left: 1em;
					}
				}
			}
		}

		&-btnbox {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 2em;

			&-btn {
				padding: 1em 2em;
				background-color: #b30130;
				color: #fff;
				border: 1px solid transparent;
				border-radius: 15px;
				font-size: 1.2rem;
				font-weight: bold;

				&:nth-child(2) {
					margin: 0 0.5em;
				}
			}
		}

		&-footer {
			padding: 0 1.2em;
			text-align: right;

			&-link {
				font-size: 1.3rem;
				text-decoration: none;
				color: #555e61;
			}

			&-span {
				color: rgb(22, 175, 22);
				font-size: 1.7rem;
			}
		}
	}
}

.navcategories {
	position: relative;
	display: flex;
	// justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 60px;

	&__element {
		position: relative;
		display: grid;
		align-items: center;
		grid-template-columns: (1fr, 2fr, 5fr, 1fr);
		grid-template-rows: repeat(3, 1fr);
		margin: 0 0.35em;
		padding: 0;
		color: rgb(200, 205, 205);
		text-transform: uppercase;
		text-decoration: none;
		font-size: 1.3rem;
		cursor: pointer;

		&:hover {
			color: #fff;
		}

		&-zero {
			position: absolute;
			top: -20%;
			padding: 0.25em 0.5em;
			margin-left: 0.5em;
			border-radius: 8px;
			background-color: #999;
			font-size: 1rem;
			grid-column: 4/5;
			grid-row: 2/3;
		}

		&--icon {
			margin: 0 0.5em;
			z-index: -50;
			grid-column: 1/2;
			grid-row: 2/3;
			font-size: 2rem;
		}

		&-text {
			grid-column: 2/5;
			grid-row: 2/3;
			pointer-events: none;

			&-favorites {
				grid-column: 2/4;
			}
		}
	}

	&__firstelement {
		margin-right: 3em;
		margin-left: 0;
	}

	&__morebtn {
		// display: flex;
		align-items: center;
		margin-left: auto;
		cursor: pointer;
	}

	&__menu {
		position: absolute;
		top: 50px;
		right: 2%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		padding: 1em;
		background-color: #010a0f;
		border-radius: 8px;
		width: 620px;
		height: 410px;
		z-index: 100;

		&-element {
			display: flex;
			align-items: center;
			margin-bottom: 0.5em;
			padding: 1em;
			// width: 30%;
			color: #ddd;
			text-decoration: none;
			border-radius: 8px;
		}

		&-text {
			font-size: 1.3rem;
			text-transform: uppercase;
			text-align-last: left;
		}

		&-icon {
			font-size: 1.8rem;
			width: 1.6em;
		}

		&-number {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: 0.4em;
			padding: 0.2em 0.5em;
			width: 16px;
			border-radius: 8px;
			background-color: #3f4446;

			&:hover {
				background-color: #ddd;
				color: black;
				transform: scale(1.1);
			}
		}
	}
}

main {
	padding: 0 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

//MAIN
.mainbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 2.4em;
}

.regionbar {
	display: flex;
	flex-direction: column;
	padding: 0.7em 0.7em 0.7em 0.2em;
	width: 156px;

	&__heading {
		// display: flex;
		// align-items: center;
		margin: 3em 0 1.5em;
		text-transform: uppercase;
		font-size: 1.25rem;

		&-top {
			margin-top: 0;
		}
	}

	&__plus {
		margin-right: 0.3em;
	}

	&__star {
		margin-right: 0.3em;
		color: #ddd;
	}

	&__region {
		padding: 0.6em;
		width: 100%;
		color: #fff;
		text-decoration: none;
		font-size: 1.3rem;
		text-overflow: ellipsis;
		overflow: hidden;
		text-wrap: nowrap;
	}

	&__showmorebtn {
		padding: 0.3em;
		padding-left: 0;
		font-size: 1.2rem;
		text-decoration: underline;
		cursor: pointer;
	}

	&__li {
		position: relative;
		display: flex;
		align-items: center;
		padding-left: 1em;
		margin: 0;
		border-radius: 8px;

		&-flag {
			width: 18px;
			height: 13px;
		}

		&:hover {
			background-color: #3f4446;
		}

		&-star {
			padding: 0.5em;
			position: absolute;
			left: 80%;
		}

		&-dropdown {
			color: #fff;
		}
	}

	&__btn {
		padding: 0.5em;
		background-color: transparent;
		color: #ff0046;
		border: none;
		border-radius: 8px;
		text-align-last: left;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.2rem;

		&:hover {
			color: #b30130;
		}
	}
}

.scores {
	position: relative;
	padding: 0 1em;
	width: 688px;
	max-width: 1200px;
	border-radius: 8px;

	&__nav {
		display: flex;
		align-items: center;
		padding: 1em 0;
		background-color: #001e28;
	}

	&__navbtn {
		padding: 0.6em 1em;
		margin: 0.4em;
		background-color: #001e28;
		color: rgb(200, 205, 205);
		border-radius: 8px;
		border: none;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.2rem;
		letter-spacing: 0.4px;

		&:hover {
			background-color: #555e61;
		}
	}

	&__heading {
		display: flex;
		align-items: center;
	}

	&__controlbtn,
	&__maincontrolbtn {
		padding: 0.5em 1em;
		background-color: #010a0f;
		color: rgb(200, 205, 205);
		border: none;
		border-radius: 8px;

		&:hover {
			background-color: rgba(175, 169, 169, 0.3);
		}

		&-calendar {
			pointer-events: none;
		}
	}

	&__controlbtn {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__maincontrolbtn {
		padding: 0.5em;
		font-weight: bold;

		&-calendar {
			margin-right: 0.5em;
		}

		&-text {
			font-size: 1.2rem;
		}
	}

	&__days {
		position: absolute;
		top: 3%;
		right: 0.5em;
		padding: 1.2em;
		width: 165px;
		background-color: #010a0f;
		border-radius: 8px;
		text-align: center;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 10px 0px;
		z-index: 100;
	}

	&__daylist {
		display: flex;
		flex-direction: column;
		justify-content: center;

		&-day {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0.1em;
			padding: 0.1em 0.5em;
			height: 24px;
			font-size: 1.2rem;
			border-radius: 8px;
			cursor: pointer;
		}
	}

	&__selectbtnbox {
		display: flex;
		align-items: center;
		margin-left: auto;
		margin: 0 0.5em 0 auto;
		height: 50%;
		background-color: #001e28;
	}

	&__leaguelivetop,
	&__leaguelivebottom {
		display: flex;
		align-items: center;
		padding: 0 1em;
	}

	&__leaguelivetop {
		padding: 0.17em 1em;
		width: 100%;
		background-color: #001e28;
		border-radius: 8px;

		&-flag {
			margin-right: 0.5em;
		}
	}

	&__heading {
		font-size: 1.2rem;
		font-weight: bold;
		color: gold;
	}

	&__standingsbtn {
		padding: 0.5em;
		margin-left: auto;
		font-size: 1.3rem;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

	&__showbtn {
		padding: 0.5em 0;
		background-color: transparent;
		color: rgb(200, 205, 205);
		border: none;
	}

	&__leaguelivebottom {
		position: relative;
		margin-bottom: 1em;
		border-bottom: 2px solid #0f2d37;
		transition: background-color ease-in-out 0.3s;
		cursor: pointer;

		&-clickpopup {
			position: absolute;
			transform: translate(-50%, -50%);
			opacity: 1;

			&-hide {
				opacity: 0;
			}
		}

		&:hover {
			background-color: #2e3030;
		}

		&-popup,
		&-previewpopup,
		&-livepopup,
		&-channelpopup,
		&-audiopopup {
			position: absolute;
			top: 45px;
			left: 340px;
			padding: 0.7em;
			background-color: #555e61;
			font-size: 1rem;
			color: #ddd;
			border-radius: 8px;
			z-index: 100;
		}

		&-popup {
			top: 52px;
			left: 10px;
		}

		&-previewpopup {
			// background-color: #868b8d;
			top: 40px;
		}

		&-livepopup {
			display: flex;
			align-items: center;
			width: 48%;
		}

		&-livepopupimg {
			margin-right: 0.5em;
			width: 30%;
			height: 15px;
			background-image: url('./sts.jpg');
			background-size: cover;
			background-position: center;
			border-radius: 8px;
		}

		&-channelpopup {
			top: 40px;
			left: 435px;
			display: flex;
			flex-direction: column;
			width: 25%;

			&-el {
				padding: 0.1em 0.2em;
				text-decoration: none;
				color: #fff;
				font-size: 1.2rem;

				&:hover {
					text-decoration: underline;
				}
			}

			&-dots {
				padding-top: 0;
				font-weight: bold;
			}

			&-bottombox {
				display: flex;
				align-items: center;
				padding: 0.2em;
			}

			&-img {
				margin-right: 0.5em;
				width: 40%;
				height: 17px;
				background-image: url('/sts.jpg');
				background-size: cover;
				background-position: center;
				border-radius: 8px;

				&-superbet {
					background-image: url('./superbet.jpg');
				}

				&-betclick {
					background-image: url('./betclic.jpg');
				}

				&-fortuna {
					background-image: url('./fortuna.jpg');
				}
			}
		}
	}

	&__star,
	&__time,
	&__teamname {
		padding: 0.29em 1em;
		font-size: 1.3rem;
	}

	&__star {
		padding: 0 0.5em 0 0;
	}

	&__teamname {
		display: flex;
		align-items: center;
	}

	&__star {
		font-size: 1.7rem;
		color: gold;
	}

	&__flag {
		margin-right: 0.7em;
		width: 15px;
		height: 15px;
	}

	&__channelsbtn,
	&__previewbtn,
	&__livebtn,
	&__audiobtn {
		padding: 0.5em 1em;
		color: rgb(200, 205, 205);
		font-size: 1.3rem;
		border-radius: 8px;
		text-decoration: none;
	}

	&__audiobtn {
		border-left: 1px solid #0f2d37;
		border-radius: 0;
	}

	&__livebtn {
		margin-left: 1em;
		padding: 0.5em 0;
		border: 1px solid rgb(200, 205, 205);
		font-size: 1rem;

		&:hover {
			background-color: #b30130;
			border: 1px solid #b30130;
		}
	}

	&__channelsbtn {
		&-icon {
			padding: 0.5em;
		}
	}

	&__previewbtn {
		padding: 0.25em 0.5em;
		margin: 1em 4em 1em auto;
		background: transparent;
		border: 1px solid rgb(200, 205, 205);
		font-size: 0.8rem;
		text-transform: uppercase;

		&-link {
			text-decoration: none;
			color: #ddd;
			pointer-events: none;
		}
	}
}

.aside-div {
	display: flex;
	width: 188px;
}

.mainboxbottom {
	display: flex;
	flex-wrap: wrap;
	// flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sitemap,
.sitemapbottom {
	// display: flex;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(1, 1fr);
	// justify-content: space-between;
	// align-items: center;
	// flex-wrap: wrap;
	margin-top: 1.5em;
	width: 100%;
	font-size: 1.3rem;

	&__flashscorebox,
	&__media,
	&__mobile {
		display: flex;
		flex-direction: column;
		height: 216px;
		line-height: 1.5em;
	}

	&__mobile {
		padding: 0.5em 0.1em;
	}

	&__media {
		&--icon {
			font-size: 1.4rem;
			margin-right: 0.5em;
		}
	}

	&__heading {
		margin-bottom: 0.5em;
		padding: 0.5em 0 0.5em 0.85em;
		text-transform: uppercase;
		font-weight: bold;
		color: #eee;
		font-size: 1.3rem;

		&--invisible {
			color: transparent;
			z-index: -1000;
		}

		&-mobile {
			padding-left: 0;
		}
	}

	&__flashscorebox--link,
	&__mobile--text {
		padding: 0.5em 1em;
		padding-right: 0;
		color: #eee;
		text-decoration: none;
	}

	&__flashscorebox--link {
		&:hover {
			text-decoration: underline;
		}
	}

	&__mobile--text {
		margin-bottom: 1em;
		padding-left: 0;
	}

	&__btn {
		display: flex;
		align-items: center;
		margin-bottom: 0.5em;
		padding: 0.25em;
		width: 90px;
		height: 30px;
		background-color: transparent;
		border: 1px solid rgb(200, 205, 205);
		border-radius: 8px;

		&:hover {
			background-color: rgba(122, 118, 118, 0.5);
		}

		&--text {
			display: flex;
			flex-direction: column;
			color: #c8cdcd;
			font-size: 0.7rem;
			text-align: left;
			text-decoration: none;
		}

		&--span {
			font-size: 1.1rem;
			color: #ddd;
		}

		&--spanone {
			font-size: 1.3rem;
		}

		&--icon {
			display: flex;
			padding: 0 0.2em;
			font-size: 1.4rem;
			color: #fff;
		}

		&--icontwo {
			color: aqua;
		}

		&--iconthree {
			color: tomato;
		}
	}
}

.sitemapbottom {
	margin-top: 3em;
	&__mobile {
		padding: 0 1em;
		grid-column: 4/-1;
	}
}

.extracontent {
	margin: 3em 0;
	padding: 1.2em;
	width: 688px;

	&__text,
	&__link {
		font-size: 1.3rem;
		line-height: 1.85;
		color: #c8cdcd;
		&:hover {
			text-decoration: none;
		}
	}
}

.footer-container {
	position: relative;
	padding: 1em;
	width: 1048px;
}

.footer {
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 3em;
	padding: 0.5em 1em 0;
	height: 81px;
	border-top: 3px solid #0f2d37;
	font-size: 1.2rem;
	z-index: 8;

	&__triangle {
		position: absolute;
		bottom: 0;
		right: -25%;
		width: 55%;
		height: 150px;
		background-color: #0f2d37;
		z-index: 10;
		border-bottom: 120px solid blue;
		border-right: 240px solid lime;
	}

	&__liteversion {
		color: #ddd;
		margin-right: 14em;

		&:hover {
			text-decoration: none;
		}
	}

	&__text,
	&__link {
		color: #999;
		cursor: pointer;
	}

	&__link {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}

	&__img {
		position: absolute;
		bottom: 0;
		right: 5em;
		z-index: 12;
	}

	&__image {
		border-top-left-radius: 2.5em;
		border-top-right-radius: 2.5em;
	}
}

.topbtn {
	right: 15px;
	display: none;
	flex-direction: column;
	color: #ddd;
	font-size: 0.8rem;

	&__icon {
		margin-bottom: 0.2em;
		font-size: 1.5rem;
	}
}

.prefbtn {
	left: 15px;
	display: flex;

	&__icon {
		font-size: 2.5rem;
		color: #999;
	}
}

.fa-headphones {
	padding: 0.5em;
}

.navtop .fa-headphones {
	padding: 0.25em 0.5em;
}

.navtop__pref-element-checkicon {
	pointer-events: none;
}

.regionbar__countries .regionbar__region,
.regionbar__li-hidden .regionbar__region {
	padding-left: 0;
}

@import 'animations';
@import 'colors';
@import 'small';
@import 'medium';
@import 'large';
