* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: rgb(1, 10, 15);
  color: rgb(238, 238, 238);
  height: 100vh;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.container,
.container-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerbox .container {
  height: 60px;
}

.container {
  max-width: 1048px;
}

.container-box {
  border-bottom: 1px solid #999;
}

.fa-star {
  color: gold;
  font-size: 1.5rem;
}

.topbtn,
.prefbtn {
  position: fixed;
  bottom: 15px;
  justify-content: center;
  align-items: center;
  padding: 0.25em 0.5em;
  width: 40px;
  height: 40px;
  background-color: #0f2d37;
  border: none;
  border-radius: 8px;
}

.modalwindow {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 3000;
}

.nav__active {
  color: #ff0046;
  border-bottom: 3px solid #ff0046;
}

.navtop {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #001e28;
}
.navtop__left, .navtop__right {
  display: flex;
  width: 50%;
}
.navtop__left {
  height: 100%;
  align-items: center;
  justify-self: flex-start;
}
.navtop__right {
  justify-content: flex-end;
}
.navtop__element {
  display: flex;
  align-items: center;
  padding: 1em 1.5em;
  height: 88px;
  background-color: #001e28;
  color: #ddd;
  font-size: 1.3rem;
  text-decoration: none;
  text-transform: uppercase;
}
.navtop__element-active {
  background-color: #010a0f;
  border-bottom: 4px solid #b30130;
  color: #fff;
}
.navtop__element:hover {
  color: #fff;
}
.navtop__logo {
  display: flex;
  align-items: center;
  padding-left: 0.2em;
  font-family: "Bruno Ace SC", cursive;
  font-size: 2rem;
  font-weight: bold;
}
.navtop__logo-img {
  width: 40px;
}
.navtop__icon {
  padding: 0.5em 1em;
}
.navtop__icon-btn {
  padding: 0.25em 0.5em;
  background-color: #b30130;
  color: #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
  border-radius: 8px;
}
.navtop__toolicon {
  margin: 0.5em;
  padding: 0.75em 1em;
  background-color: #0f2d37;
  color: rgb(200, 205, 205);
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}
.navtop__toolicon:hover {
  background-color: #010a0f;
}
.navtop__btnicon {
  font-size: 1.5rem;
  pointer-events: none;
}
.navtop__btnicon-settings {
  width: 20px;
  font-size: 2rem;
}
.navtop__icon {
  margin-right: 0.3em;
  padding: 0.2em;
  font-size: 1.5rem;
  border: 1px solid rgb(200, 205, 205);
  border-radius: 8px;
}
.navtop__settings {
  position: absolute;
  top: 80px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 320px;
  height: 120px;
  border-radius: 1.5em;
  z-index: 200;
}
.navtop__settingsbtn {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: #010a0f;
  color: #eee;
  border: none;
  border-radius: 8px;
  z-index: 100;
}
.navtop__settingsbtn-icon {
  width: 60px;
  padding: 0.5em 1em;
  font-size: 2rem;
}
.navtop__settingsbtn-toggle, .navtop__settingsbtn-arrow {
  margin-left: auto;
  padding: 0.5em 1em;
  font-size: 1.5rem;
}
.navtop__settingsbtn-toggle {
  position: relative;
  margin-right: 0.5em;
  width: 32px;
  height: 20px;
  background-color: lime;
  border-radius: 37%;
}
.navtop__settingsbtn-toggle::before {
  position: absolute;
  top: 4px;
  right: 2px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  content: "";
}
.navtop__search, .navtop__login, .navtop__pref, .navtop__settingspanel {
  position: absolute;
  top: 92px;
  display: flex;
  flex-direction: column;
  width: 538px;
  border-radius: 1em;
  z-index: 3001;
}
.navtop__search {
  padding: 1.5em 0;
  min-height: 320px;
  background-color: rgb(1, 10, 15);
  height: 80vh;
}
.navtop__search-top {
  display: flex;
  justify-content: space-between;
  padding: 0 1em 0 2em;
  border-bottom: 1px solid #0f2d37;
}
.navtop__search-heading {
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 1.8rem;
}
.navtop__search-closeicon {
  font-size: 2.5rem;
  color: #999;
  cursor: pointer;
}
.navtop__search-list {
  padding: 0 2.4em;
  overflow-y: scroll;
}
.navtop__search-inputbox {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  padding: 0.3em;
  margin: 2em 0;
  width: 92%;
  border: 2px solid #c8cdcd;
  border-radius: 1em;
}
.navtop__search-inputbox-input, .navtop__search-inputbox-btn {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  outline: none;
}
.navtop__search-inputbox-input {
  padding: 0 0.5em;
  width: 65%;
  color: #c8cdcd;
}
.navtop__search-inputbox-btn {
  padding: 0.5em 1.2em;
  width: 33.5%;
  color: #ddd;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
.navtop__search-inputbox-dropdown {
  font-size: 1.6rem;
  pointer-events: none;
}
.navtop__search-sportslist {
  position: absolute;
  top: 19.5%;
  right: 4%;
  padding: 0.5em;
  width: 30%;
  height: 75%;
  background-color: #010a0f;
  border: 1px solid #ddd;
  overflow: auto;
  z-index: 2000;
}
.navtop__search-sportslist-element {
  padding: 0.5em;
  font-size: 1.3rem;
  border-radius: 8px;
  cursor: pointer;
}
.navtop__search-sportslist-element-active {
  background-color: #ff0046;
}
.navtop__search-text {
  padding: 0 2em;
  margin-bottom: 1em;
  font-size: 1.3rem;
}
.navtop__search-mostpopular {
  padding: 0 2em;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.navtop__search-textbottom, .navtop__search-mostpopular {
  color: #c8cdcd;
}
.navtop__search-listelement {
  display: flex;
  align-items: center;
  padding: 0.5em;
  margin: 1em 0;
  border-radius: 8px;
  cursor: pointer;
}
.navtop__search-listelement:hover {
  background-color: #3f4446;
}
.navtop__search-img {
  margin-right: 1.5em;
  width: 30px;
  height: 30px;
  border-radius: 8px;
}
.navtop__search-texttop {
  margin-bottom: 0.2em;
  font-weight: bold;
  color: #eee;
  font-size: 1.3rem;
}
.navtop__search-textbottom {
  font-size: 1.1rem;
}
.navtop__search-icon {
  margin-left: auto;
}
.navtop__login {
  justify-content: center;
  align-items: center;
  background-color: #010a0f;
}
.navtop__login-closebtn {
  padding: 0.5em 1em;
  margin-left: auto;
  font-size: 2.5rem;
  color: #999;
  cursor: pointer;
}
.navtop__login-heading {
  margin: 0.5em 0;
  font-size: 2.2rem;
  color: #eee;
}
.navtop__login-extrasbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5em;
  padding: 1em 1em 0.5em;
  width: 59.5%;
  background-color: #001e28;
  border-radius: 8px;
}
.navtop__login-text {
  padding: 0.5em 1em 0;
  font-size: 1.3rem;
}
.navtop__login-cardbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navtop__login-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0em 1em 0.5em;
  font-size: 1.2rem;
}
.navtop__login-icon {
  padding: 0.25em 0.5em;
  font-size: 2.4rem;
}
.navtop__login-btn {
  display: flex;
  padding: 0.75em 1.5em;
  margin: 0.5em;
  width: 60%;
  background-color: transparent;
  color: #eee;
  border: 1px solid rgb(85, 94, 97);
  border-radius: 8px;
  text-align: center;
}
.navtop__login-btn:hover {
  background-color: rgba(122, 118, 118, 0.5);
}
.navtop__login-btntext {
  margin-right: auto;
  font-size: 1.4rem;
  font-weight: bold;
}
.navtop__login-whitebtn {
  background-color: #fff;
  color: #555e61;
}
.navtop__login-btnicon {
  margin-right: auto;
  font-size: 1.8rem;
}
.navtop__login-googleicon {
  padding: 0.1em;
  color: rgb(19, 199, 19);
}
.navtop__login-smalltext {
  margin: 1em 0 4em;
  width: 60%;
  color: #c8cdcd;
  font-size: 1.1rem;
  text-align: center;
}
.navtop__login-link {
  color: #c8cdcd;
  font-weight: bold;
}
.navtop__login-link:hover {
  text-decoration: none;
}
.navtop__settingspanel {
  padding: 0 2.4em 1em;
  height: 78vh;
  background-color: rgb(1, 10, 15);
  overflow-y: scroll;
}
.navtop__settingspanel-top {
  display: flex;
  align-items: center;
  padding: 0.85em 0;
  border-bottom: 1px solid #0f2d37;
}
.navtop__settingspanel-icon {
  padding: 0.15em 0.3em;
  margin-left: auto;
  font-size: 3rem;
  color: #868b8d;
  cursor: pointer;
}
.navtop__settingspanel-sectionheader {
  font-size: 1.8rem;
}
.navtop__settingspanel-header {
  margin-bottom: 1em;
  font-size: 1.6rem;
  font-weight: bold;
}
.navtop__settingspanel-panel {
  padding: 2.7em 0;
  border-bottom: 1px solid #0f2d37;
}
.navtop__settingspanel-panel:last-child {
  border: none;
  padding-bottom: 1em;
}
.navtop__settingspanel-gridpanel {
  display: grid;
  grid-template-columns: repeat(3, minmax(90px, 20%));
}
.navtop__settingspanel-time, .navtop__settingspanel-text, .navtop__settingspanel-option {
  font-size: 1.3rem;
}
.navtop__settingspanel-time {
  padding: 0.5em 1em;
  background: transparent;
  border: 1px solid #0f2d37;
  color: #ddd;
}
.navtop__settingspanel-text {
  margin: 0.5em 0;
}
.navtop__settingspanel-options {
  display: flex;
  align-items: center;
  padding: 0.5em;
}
.navtop__settingspanel-btn {
  position: relative;
  margin-right: 1em;
  width: 16px;
  height: 16px;
  border: 1px solid #14dc4b;
  border-radius: 50%;
}
.navtop__pref {
  position: fixed;
  top: 15%;
  width: 730px;
  background-color: #02171f;
}
.navtop__pref-headerbox {
  display: flex;
  align-items: center;
  padding: 1.2em 1.2em;
  border-bottom: 1px solid #0f2d37;
}
.navtop__pref-headerbox-logo {
  margin-right: 1em;
  margin-bottom: 0.5em;
}
.navtop__pref-headerbox-header {
  font-size: 1.7rem;
  font-weight: bold;
}
.navtop__pref-mainbox {
  display: flex;
  border-bottom: 1px solid #0f2d37;
}
.navtop__pref-mainbox-list {
  width: 32%;
  height: 425px;
  overflow-y: scroll;
}
.navtop__pref-mainbox-list::-webkit-scrollbar {
  width: 1.2em;
  background-color: transparent;
  border: none;
}
.navtop__pref-mainbox-list::-webkit-scrollbar-thumb {
  background-color: rgb(201, 197, 197);
  border-radius: 8px;
}
.navtop__pref-mainbox-listelement {
  position: relative;
  padding: 1.2em 1.2em 1.2em 2em;
  background-color: #0f2d37;
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: 1px solid rgb(0, 20, 30);
  cursor: pointer;
}
.navtop__pref-mainbox-listelement:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10px;
  background-color: rgb(0, 20, 30);
  content: "";
}
.navtop__pref-mainbox-btnbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1em;
  padding-left: 2em;
}
.navtop__pref-mainbox-btnbox:first-child {
  margin-top: 1em;
}
.navtop__pref-mainbox-btnbox-header {
  margin-bottom: 1em;
  font-size: 1.3rem;
  font-weight: bold;
}
.navtop__pref-mainbox-btnbox-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navtop__pref-mainbox-btnbox-bottom {
  font-size: 1.2rem;
  line-height: 1.85;
}
.navtop__pref-mainbox-textbox {
  padding: 1.2em;
  margin-left: 2em;
  width: 70%;
  height: 425px;
}
.navtop__pref-mainbox-textbox:nth-of-type(7) {
  overflow-y: scroll;
}
.navtop__pref-mainbox-textbox:nth-of-type(7)::-webkit-scrollbar {
  width: 1.2em;
  background-color: transparent;
  border: none;
}
.navtop__pref-mainbox-textbox:nth-of-type(7)::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 8px;
}
.navtop__pref-mainbox-textbox-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navtop__pref-mainbox-textbox-header {
  margin-bottom: 1em;
  width: 75%;
  font-size: 1.4rem;
}
.navtop__pref-mainbox-textbox-header2 {
  margin-right: 0.5em;
  text-align: right;
  font-weight: bold;
}
.navtop__pref-mainbox-textbox-button {
  position: relative;
  height: 1em;
  width: 3em;
  background-color: #ddd;
  border-radius: 8px;
}
.navtop__pref-mainbox-textbox-button:before {
  position: absolute;
  top: -6px;
  right: -1px;
  background-color: #4285f4;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  content: "";
}
.navtop__pref-mainbox-textbox-text, .navtop__pref-mainbox-textbox-link, .navtop__pref-mainbox-textbox_listbtn, .navtop__pref-mainbox-textbox-legal {
  font-size: 1.2rem;
  line-height: 1.8;
}
.navtop__pref-mainbox-textbox-text:nth-child(3), .navtop__pref-mainbox-textbox-link:nth-child(3), .navtop__pref-mainbox-textbox_listbtn:nth-child(3), .navtop__pref-mainbox-textbox-legal:nth-child(3) {
  margin-top: 1em;
}
.navtop__pref-mainbox-textbox-link {
  color: #ddd;
  text-decoration: none;
}
.navtop__pref-mainbox-textbox-link:hover {
  text-decoration: underline;
}
.navtop__pref-mainbox-textbox-listbtn {
  background: transparent;
  color: #3860be;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
}
.navtop__pref-mainbox-textbox-listbtn:hover {
  text-decoration: underline;
}
.navtop__pref-mainbox-textbox-legal {
  color: #e6e6e6;
  text-decoration: none;
}
.navtop__pref-mainbox-textbox-legal:hover {
  text-decoration: underline;
}
.navtop__pref-mainbox-textbox-icon {
  margin-left: 0.2em;
  color: #3860be;
  cursor: pointer;
}
.navtop__pref-vendorsbox {
  position: relative;
  height: 425px;
  width: 100%;
  font-size: 1.2rem;
  overflow-y: scroll;
}
.navtop__pref-vendorsbox::-webkit-scrollbar {
  background-color: transparent;
  border: none;
}
.navtop__pref-vendorsbox::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 8px;
}
.navtop__pref-vendorsbox-top {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #0f2d37;
  padding: 1em 0;
}
.navtop__pref-vendorsbox-top-text {
  margin: 0 auto 0 0.5em;
}
.navtop__pref-vendorsbox-backbtn {
  padding: 0.25em 0.5em;
  background: transparent;
  color: #fff;
  font-weight: bold;
  border: none;
  font-size: 1.5rem;
}
.navtop__pref-vendorsbox-filterbtn {
  position: relative;
  padding: 0.5em 0.7em;
  margin: 0 1.5em;
  background-color: #3860be;
  border-radius: 50%;
  border: 1px solid #fff;
}
.navtop__pref-vendorsbox-filterbtn:hover .shadow {
  z-index: 10;
}
.navtop__pref-vendorsbox-filterbtn-icon {
  color: #fff;
}
.navtop__pref-vendorsbox-inputbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  height: 32px;
  width: 45%;
  background-color: #414141;
  border: 1px solid #999;
  border-radius: 50px;
}
.navtop__pref-vendorsbox-input {
  width: 80%;
  background: transparent;
  color: #ddd;
  border: none;
  outline: none;
  font-style: italic;
}
.navtop__pref-vendorsbox-icon {
  font-size: 1.5rem;
}
.navtop__pref-vendorsbox-mainbox {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  margin-top: 1em;
}
.navtop__pref-vendorsbox-element {
  display: flex;
  flex-wrap: wrap;
  margin: 0.5em 0;
  padding: 1em 2em;
  border: 1px solid #0f2d37;
  cursor: pointer;
}
.navtop__pref-vendorsbox-element:hover {
  outline: 1px solid #ddd;
}
.navtop__pref-vendorsbox-element:first-of-type {
  border: none;
}
.navtop__pref-vendorsbox-element:first-of-type:hover {
  outline: none;
}
.navtop__pref-vendorsbox-element-left {
  display: flex;
  flex-direction: column;
}
.navtop__pref-vendorsbox-element-right {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navtop__pref-vendorsbox-element-top {
  color: #e6e6e6;
  margin-bottom: 0.5em;
  font-weight: bold;
}
.navtop__pref-vendorsbox-element-bottom {
  color: #e6e6e6;
  text-decoration: none;
}
.navtop__pref-vendorsbox-element-bottom:hover {
  text-decoration: underline;
}
.navtop__pref-vendorsbox-element-showbtn {
  margin-left: 1em;
  padding: 0.5em 1em;
}
.navtop__pref-vendorsbox-element-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  max-width: 25px;
  background-color: #3860be;
  border-radius: 8px;
}
.navtop__pref-vendorsbox-element-privacylist {
  margin-top: 1em;
  padding: 1em 2em;
  width: 100%;
  background-color: #0f2d37;
  border: 1px solid #ddd;
}
.navtop__pref-vendorsbox-element-privacylist-span {
  font-weight: bold;
  color: #999;
}
.navtop__pref-vendorsbox-element-privacylist-text {
  color: #ddd;
  line-height: 1.85;
}
.navtop__pref-vendorsbox-element-privacylist-text:nth-of-type(2), .navtop__pref-vendorsbox-element-privacylist-text:nth-of-type(3), .navtop__pref-vendorsbox-element-privacylist-text:nth-of-type(10), .navtop__pref-vendorsbox-element-privacylist-text:nth-of-type(11), .navtop__pref-vendorsbox-element-privacylist-text:nth-of-type(13), .navtop__pref-vendorsbox-element-privacylist-text:nth-of-type(14), .navtop__pref-vendorsbox-element-privacylist-text:nth-of-type(15), .navtop__pref-vendorsbox-element-privacylist-text:nth-of-type(16) {
  border-bottom: 1px solid #999;
}
.navtop__pref-vendorsbox-anchor {
  position: absolute;
  top: 12%;
  right: 7%;
  width: 25px;
  height: 25px;
  background-color: #02171f;
  transform: rotate(45deg);
  box-shadow: rgb(199, 197, 199) 0px 0px 5px 2px;
  z-index: 10;
}
.navtop__pref-vendorsbox-filterslist {
  position: absolute;
  top: 15%;
  right: 2%;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 38%;
  background-color: #001e28;
  box-shadow: rgb(199, 197, 199) 0px 0px 12px 2px;
  overflow-y: scroll;
}
.navtop__pref-vendorsbox-filterslist::-webkit-scrollbar {
  background-color: transparent;
  border: none;
}
.navtop__pref-vendorsbox-filterslist::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 8px;
}
.navtop__pref-vendorsbox-filterslist-top {
  margin: 2em 1em 1em auto;
  color: rgb(97, 95, 95);
  cursor: pointer;
  z-index: 20;
}
.navtop__pref-vendorsbox-filterslist-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navtop__pref-vendorsbox-filterslist-filter {
  display: flex;
  align-items: center;
  padding: 0.5em 0 0.5em 1em;
}
.navtop__pref-vendorsbox-filterslist-filter-text {
  margin-left: 0.5em;
}
.navtop__pref-vendorsbox-filterslist-filter-btn {
  margin-left: 1em;
}
.navtop__pref-btnbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}
.navtop__pref-btnbox-btn {
  padding: 1em 2em;
  background-color: #b30130;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: bold;
}
.navtop__pref-btnbox-btn:nth-child(2) {
  margin: 0 0.5em;
}
.navtop__pref-footer {
  padding: 0 1.2em;
  text-align: right;
}
.navtop__pref-footer-link {
  font-size: 1.3rem;
  text-decoration: none;
  color: #555e61;
}
.navtop__pref-footer-span {
  color: rgb(22, 175, 22);
  font-size: 1.7rem;
}

.navcategories {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
}
.navcategories__element {
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr, 2fr, 5fr, 1fr;
  grid-template-rows: repeat(3, 1fr);
  margin: 0 0.35em;
  padding: 0;
  color: rgb(200, 205, 205);
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.3rem;
  cursor: pointer;
}
.navcategories__element:hover {
  color: #fff;
}
.navcategories__element-zero {
  position: absolute;
  top: -20%;
  padding: 0.25em 0.5em;
  margin-left: 0.5em;
  border-radius: 8px;
  background-color: #999;
  font-size: 1rem;
  grid-column: 4/5;
  grid-row: 2/3;
}
.navcategories__element--icon {
  margin: 0 0.5em;
  z-index: -50;
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 2rem;
}
.navcategories__element-text {
  grid-column: 2/5;
  grid-row: 2/3;
  pointer-events: none;
}
.navcategories__element-text-favorites {
  grid-column: 2/4;
}
.navcategories__firstelement {
  margin-right: 3em;
  margin-left: 0;
}
.navcategories__morebtn {
  align-items: center;
  margin-left: auto;
  cursor: pointer;
}
.navcategories__menu {
  position: absolute;
  top: 50px;
  right: 2%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1em;
  background-color: #010a0f;
  border-radius: 8px;
  width: 620px;
  height: 410px;
  z-index: 100;
}
.navcategories__menu-element {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  padding: 1em;
  color: #ddd;
  text-decoration: none;
  border-radius: 8px;
}
.navcategories__menu-text {
  font-size: 1.3rem;
  text-transform: uppercase;
  -moz-text-align-last: left;
       text-align-last: left;
}
.navcategories__menu-icon {
  font-size: 1.8rem;
  width: 1.6em;
}
.navcategories__menu-number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.4em;
  padding: 0.2em 0.5em;
  width: 16px;
  border-radius: 8px;
  background-color: #3f4446;
}
.navcategories__menu-number:hover {
  background-color: #ddd;
  color: black;
  transform: scale(1.1);
}

main {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2.4em;
}

.regionbar {
  display: flex;
  flex-direction: column;
  padding: 0.7em 0.7em 0.7em 0.2em;
  width: 156px;
}
.regionbar__heading {
  margin: 3em 0 1.5em;
  text-transform: uppercase;
  font-size: 1.25rem;
}
.regionbar__heading-top {
  margin-top: 0;
}
.regionbar__plus {
  margin-right: 0.3em;
}
.regionbar__star {
  margin-right: 0.3em;
  color: #ddd;
}
.regionbar__region {
  padding: 0.6em;
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}
.regionbar__showmorebtn {
  padding: 0.3em;
  padding-left: 0;
  font-size: 1.2rem;
  text-decoration: underline;
  cursor: pointer;
}
.regionbar__li {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 1em;
  margin: 0;
  border-radius: 8px;
}
.regionbar__li-flag {
  width: 18px;
  height: 13px;
}
.regionbar__li:hover {
  background-color: #3f4446;
}
.regionbar__li-star {
  padding: 0.5em;
  position: absolute;
  left: 80%;
}
.regionbar__li-dropdown {
  color: #fff;
}
.regionbar__btn {
  padding: 0.5em;
  background-color: transparent;
  color: #ff0046;
  border: none;
  border-radius: 8px;
  -moz-text-align-last: left;
       text-align-last: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
}
.regionbar__btn:hover {
  color: #b30130;
}

.scores {
  position: relative;
  padding: 0 1em;
  width: 688px;
  max-width: 1200px;
  border-radius: 8px;
}
.scores__nav {
  display: flex;
  align-items: center;
  padding: 1em 0;
  background-color: #001e28;
}
.scores__navbtn {
  padding: 0.6em 1em;
  margin: 0.4em;
  background-color: #001e28;
  color: rgb(200, 205, 205);
  border-radius: 8px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 0.4px;
}
.scores__navbtn:hover {
  background-color: #555e61;
}
.scores__heading {
  display: flex;
  align-items: center;
}
.scores__controlbtn, .scores__maincontrolbtn {
  padding: 0.5em 1em;
  background-color: #010a0f;
  color: rgb(200, 205, 205);
  border: none;
  border-radius: 8px;
}
.scores__controlbtn:hover, .scores__maincontrolbtn:hover {
  background-color: rgba(175, 169, 169, 0.3);
}
.scores__controlbtn-calendar, .scores__maincontrolbtn-calendar {
  pointer-events: none;
}
.scores__controlbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scores__maincontrolbtn {
  padding: 0.5em;
  font-weight: bold;
}
.scores__maincontrolbtn-calendar {
  margin-right: 0.5em;
}
.scores__maincontrolbtn-text {
  font-size: 1.2rem;
}
.scores__days {
  position: absolute;
  top: 3%;
  right: 0.5em;
  padding: 1.2em;
  width: 165px;
  background-color: #010a0f;
  border-radius: 8px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 10px 0px;
  z-index: 100;
}
.scores__daylist {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.scores__daylist-day {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.1em;
  padding: 0.1em 0.5em;
  height: 24px;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
}
.scores__selectbtnbox {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin: 0 0.5em 0 auto;
  height: 50%;
  background-color: #001e28;
}
.scores__leaguelivetop, .scores__leaguelivebottom {
  display: flex;
  align-items: center;
  padding: 0 1em;
}
.scores__leaguelivetop {
  padding: 0.17em 1em;
  width: 100%;
  background-color: #001e28;
  border-radius: 8px;
}
.scores__leaguelivetop-flag {
  margin-right: 0.5em;
}
.scores__heading {
  font-size: 1.2rem;
  font-weight: bold;
  color: gold;
}
.scores__standingsbtn {
  padding: 0.5em;
  margin-left: auto;
  font-size: 1.3rem;
  text-decoration: underline;
}
.scores__standingsbtn:hover {
  text-decoration: none;
}
.scores__showbtn {
  padding: 0.5em 0;
  background-color: transparent;
  color: rgb(200, 205, 205);
  border: none;
}
.scores__leaguelivebottom {
  position: relative;
  margin-bottom: 1em;
  border-bottom: 2px solid #0f2d37;
  transition: background-color ease-in-out 0.3s;
  cursor: pointer;
}
.scores__leaguelivebottom-clickpopup {
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 1;
}
.scores__leaguelivebottom-clickpopup-hide {
  opacity: 0;
}
.scores__leaguelivebottom:hover {
  background-color: #2e3030;
}
.scores__leaguelivebottom-popup, .scores__leaguelivebottom-previewpopup, .scores__leaguelivebottom-livepopup, .scores__leaguelivebottom-channelpopup, .scores__leaguelivebottom-audiopopup {
  position: absolute;
  top: 45px;
  left: 340px;
  padding: 0.7em;
  background-color: #555e61;
  font-size: 1rem;
  color: #ddd;
  border-radius: 8px;
  z-index: 100;
}
.scores__leaguelivebottom-popup {
  top: 52px;
  left: 10px;
}
.scores__leaguelivebottom-previewpopup {
  top: 40px;
}
.scores__leaguelivebottom-livepopup {
  display: flex;
  align-items: center;
  width: 48%;
}
.scores__leaguelivebottom-livepopupimg {
  margin-right: 0.5em;
  width: 30%;
  height: 15px;
  background-image: url("./sts.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}
.scores__leaguelivebottom-channelpopup {
  top: 40px;
  left: 435px;
  display: flex;
  flex-direction: column;
  width: 25%;
}
.scores__leaguelivebottom-channelpopup-el {
  padding: 0.1em 0.2em;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}
.scores__leaguelivebottom-channelpopup-el:hover {
  text-decoration: underline;
}
.scores__leaguelivebottom-channelpopup-dots {
  padding-top: 0;
  font-weight: bold;
}
.scores__leaguelivebottom-channelpopup-bottombox {
  display: flex;
  align-items: center;
  padding: 0.2em;
}
.scores__leaguelivebottom-channelpopup-img {
  margin-right: 0.5em;
  width: 40%;
  height: 17px;
  background-image: url("/sts.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}
.scores__leaguelivebottom-channelpopup-img-superbet {
  background-image: url("./superbet.jpg");
}
.scores__leaguelivebottom-channelpopup-img-betclick {
  background-image: url("./betclic.jpg");
}
.scores__leaguelivebottom-channelpopup-img-fortuna {
  background-image: url("./fortuna.jpg");
}
.scores__star, .scores__time, .scores__teamname {
  padding: 0.29em 1em;
  font-size: 1.3rem;
}
.scores__star {
  padding: 0 0.5em 0 0;
}
.scores__teamname {
  display: flex;
  align-items: center;
}
.scores__star {
  font-size: 1.7rem;
  color: gold;
}
.scores__flag {
  margin-right: 0.7em;
  width: 15px;
  height: 15px;
}
.scores__channelsbtn, .scores__previewbtn, .scores__livebtn, .scores__audiobtn {
  padding: 0.5em 1em;
  color: rgb(200, 205, 205);
  font-size: 1.3rem;
  border-radius: 8px;
  text-decoration: none;
}
.scores__audiobtn {
  border-left: 1px solid #0f2d37;
  border-radius: 0;
}
.scores__livebtn {
  margin-left: 1em;
  padding: 0.5em 0;
  border: 1px solid rgb(200, 205, 205);
  font-size: 1rem;
}
.scores__livebtn:hover {
  background-color: #b30130;
  border: 1px solid #b30130;
}
.scores__channelsbtn-icon {
  padding: 0.5em;
}
.scores__previewbtn {
  padding: 0.25em 0.5em;
  margin: 1em 4em 1em auto;
  background: transparent;
  border: 1px solid rgb(200, 205, 205);
  font-size: 0.8rem;
  text-transform: uppercase;
}
.scores__previewbtn-link {
  text-decoration: none;
  color: #ddd;
  pointer-events: none;
}

.aside-div {
  display: flex;
  width: 188px;
}

.mainboxbottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sitemap,
.sitemapbottom {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  margin-top: 1.5em;
  width: 100%;
  font-size: 1.3rem;
}
.sitemap__flashscorebox, .sitemap__media, .sitemap__mobile,
.sitemapbottom__flashscorebox,
.sitemapbottom__media,
.sitemapbottom__mobile {
  display: flex;
  flex-direction: column;
  height: 216px;
  line-height: 1.5em;
}
.sitemap__mobile,
.sitemapbottom__mobile {
  padding: 0.5em 0.1em;
}
.sitemap__media--icon,
.sitemapbottom__media--icon {
  font-size: 1.4rem;
  margin-right: 0.5em;
}
.sitemap__heading,
.sitemapbottom__heading {
  margin-bottom: 0.5em;
  padding: 0.5em 0 0.5em 0.85em;
  text-transform: uppercase;
  font-weight: bold;
  color: #eee;
  font-size: 1.3rem;
}
.sitemap__heading--invisible,
.sitemapbottom__heading--invisible {
  color: transparent;
  z-index: -1000;
}
.sitemap__heading-mobile,
.sitemapbottom__heading-mobile {
  padding-left: 0;
}
.sitemap__flashscorebox--link, .sitemap__mobile--text,
.sitemapbottom__flashscorebox--link,
.sitemapbottom__mobile--text {
  padding: 0.5em 1em;
  padding-right: 0;
  color: #eee;
  text-decoration: none;
}
.sitemap__flashscorebox--link:hover,
.sitemapbottom__flashscorebox--link:hover {
  text-decoration: underline;
}
.sitemap__mobile--text,
.sitemapbottom__mobile--text {
  margin-bottom: 1em;
  padding-left: 0;
}
.sitemap__btn,
.sitemapbottom__btn {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  padding: 0.25em;
  width: 90px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgb(200, 205, 205);
  border-radius: 8px;
}
.sitemap__btn:hover,
.sitemapbottom__btn:hover {
  background-color: rgba(122, 118, 118, 0.5);
}
.sitemap__btn--text,
.sitemapbottom__btn--text {
  display: flex;
  flex-direction: column;
  color: #c8cdcd;
  font-size: 0.7rem;
  text-align: left;
  text-decoration: none;
}
.sitemap__btn--span,
.sitemapbottom__btn--span {
  font-size: 1.1rem;
  color: #ddd;
}
.sitemap__btn--spanone,
.sitemapbottom__btn--spanone {
  font-size: 1.3rem;
}
.sitemap__btn--icon,
.sitemapbottom__btn--icon {
  display: flex;
  padding: 0 0.2em;
  font-size: 1.4rem;
  color: #fff;
}
.sitemap__btn--icontwo,
.sitemapbottom__btn--icontwo {
  color: aqua;
}
.sitemap__btn--iconthree,
.sitemapbottom__btn--iconthree {
  color: tomato;
}

.sitemapbottom {
  margin-top: 3em;
}
.sitemapbottom__mobile {
  padding: 0 1em;
  grid-column: 4/-1;
}

.extracontent {
  margin: 3em 0;
  padding: 1.2em;
  width: 688px;
}
.extracontent__text, .extracontent__link {
  font-size: 1.3rem;
  line-height: 1.85;
  color: #c8cdcd;
}
.extracontent__text:hover, .extracontent__link:hover {
  text-decoration: none;
}

.footer-container {
  position: relative;
  padding: 1em;
  width: 1048px;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 3em;
  padding: 0.5em 1em 0;
  height: 81px;
  border-top: 3px solid #0f2d37;
  font-size: 1.2rem;
  z-index: 8;
}
.footer__triangle {
  position: absolute;
  bottom: 0;
  right: -25%;
  width: 55%;
  height: 150px;
  background-color: #0f2d37;
  z-index: 10;
  border-bottom: 120px solid blue;
  border-right: 240px solid lime;
}
.footer__liteversion {
  color: #ddd;
  margin-right: 14em;
}
.footer__liteversion:hover {
  text-decoration: none;
}
.footer__text, .footer__link {
  color: #999;
  cursor: pointer;
}
.footer__link {
  text-decoration: underline;
}
.footer__link:hover {
  text-decoration: none;
}
.footer__img {
  position: absolute;
  bottom: 0;
  right: 5em;
  z-index: 12;
}
.footer__image {
  border-top-left-radius: 2.5em;
  border-top-right-radius: 2.5em;
}

.topbtn {
  right: 15px;
  display: none;
  flex-direction: column;
  color: #ddd;
  font-size: 0.8rem;
}
.topbtn__icon {
  margin-bottom: 0.2em;
  font-size: 1.5rem;
}

.prefbtn {
  left: 15px;
  display: flex;
}
.prefbtn__icon {
  font-size: 2.5rem;
  color: #999;
}

.fa-headphones {
  padding: 0.5em;
}

.navtop .fa-headphones {
  padding: 0.25em 0.5em;
}

.navtop__pref-element-checkicon {
  pointer-events: none;
}

.regionbar__countries .regionbar__region,
.regionbar__li-hidden .regionbar__region {
  padding-left: 0;
}

.togglePrefSettings::before {
  animation: togglePrefBtn 0.5s linear 0s forwards 1;
}

.togglePrefSettings2::before {
  animation: togglePrefBtn2 0.5s linear 0s forwards 1;
}

.togglesettings::before {
  animation: toggleSettings 0.5s linear 0s forwards 1;
}

.togglesettings2 {
  animation: toggleSettings2 0.5s linear 0s forwards 1;
}

.addbefore::before {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  background-color: #14dc4b;
  border-radius: 50%;
  content: "";
}

body,
.regionbar__heading,
.regionbar__star,
.scores,
.scores__leaguelive,
.scores__leaguelivetop,
.scores__heading,
.fa-headphones,
.fa-tv,
.navtop__settingsbtn-darkmode,
.navtop__settingsbtn,
.prefbtn {
  transition: background-color 1s, color 1s;
}

@keyframes toggleSettings {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-125%);
    background-color: #999;
  }
}
@keyframes toggleSettings2 {
  to {
    background-color: #ddd;
  }
}
@keyframes togglePrefBtn {
  to {
    background-color: #555e61;
    transform: translateX(-20px);
  }
}
@keyframes togglePrefBtn2 {
  from {
    background-color: #555e61;
    transform: translateX(-20px);
  }
  to {
    background-color: #4285f4;
    transform: translateX(0);
  }
}
.hide {
  display: none;
}

.blur {
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.disabled {
  pointer-events: none;
}

.fixed {
  overflow: hidden;
}

.active {
  background-color: #ff0046;
}

.white {
  background-color: #fff;
}

.eee {
  background-color: #eee;
}

.lightgrey {
  background-color: #ddd;
}

.darkgrey {
  background-color: #999;
}

.bg-grey-e9 {
  background-color: #e9e9e9;
}

.lightgold {
  background-color: #fff2ce;
}

.bg-lightblue {
  background-color: rgb(238, 247, 255);
}

.bg-blue {
  background-color: #4285f4;
}

.bg-darkgrey {
  background-color: #3f4446;
}

.bgblack {
  background-color: #00141e;
}

.transparent {
  color: transparent;
}

.grey {
  color: #999;
}

.verylightblack {
  color: #555e61;
}

.lightblack {
  color: #00141e;
}

.black {
  color: #001e28;
}

.blue {
  color: #4285f4;
}

.lightgreyhover:hover {
  background-color: #c8cdcd;
}

.blackhover:hover {
  background-color: #3f4446;
}

.verylightgreyhover {
  border-bottom: 2px solid rgb(238, 235, 235);
}
.verylightgreyhover:hover {
  background-color: rgb(230, 226, 226);
}

.eeehover {
  border-bottom: 2px solid rgb(238, 235, 235);
}
.eeehover:hover {
  background-color: rgb(245, 245, 245);
}

.darkhover:hover {
  background-color: #3f4446;
}

.darkertexthover:hover {
  color: #00141e;
}

.lightblackhover:hover {
  background-color: #232525;
}

.darkgreyhover:hover {
  background-color: #555e61;
}

.border-left {
  border-left: 2px solid rgb(238, 235, 235);
}

.border-white {
  border: 1px solid #fff;
}

.border-black {
  border: 1px solid #00141e;
}

.nohover:hover {
  background-color: #ff0046;
}

.previewbtnhover:hover {
  background-color: #555e61;
  color: #ddd;
  color: #fff;
  border: 1px solid #555e61;
}

.previewbtnhover2:hover {
  background-color: #ddd;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  z-index: -100;
  border-radius: 50%;
}

.textwhite {
  color: #fff;
}

.navbtnactive {
  background-color: rgb(255, 0, 70);
}
.navbtnactive:hover {
  background-color: rgb(255, 0, 70);
}

.navtop__pref-mainbox-listelement-active {
  background-color: #010a0f;
}

.navtop__pref-mainbox-listelement-activelm {
  background-color: white;
}

.login-active-hover:hover {
  background-color: rgba(240, 235, 235, 0.9);
}

.login-active-hover-lm:hover {
  background-color: rgba(57, 141, 219, 0.8);
}

.login-hover:hover {
  background-color: rgba(122, 118, 118, 0.5);
}

.white-background {
  position: absolute;
  top: 0;
  left: -300px;
  width: 5000px;
  height: 100%;
  z-index: -10;
}

.listelementcolors {
  border-bottom: 1px solid #ddd;
}
.listelementcolors:before {
  background-color: #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}

@media (max-width: 638px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  .container-top {
    padding: 0 0.5em;
    justify-content: space-between;
    width: 100%;
  }
  .container-box {
    width: 100%;
  }
  .container {
    height: 80px;
    width: 100%;
  }
  .container-box .container {
    height: auto;
  }
  .aside-div {
    display: none;
  }
  .navtop {
    margin-bottom: 1em;
    height: 92px;
    height: 100px;
    width: 100%;
  }
  .navtop__element {
    padding: 0 0.5em;
    height: 62px;
    font-size: 1.3rem;
  }
  .navtop__element:nth-of-type(1) {
    grid-column: 1/8;
    grid-row: 0/1;
    padding-top: 0;
  }
  .navtop__element:nth-of-type(2) {
    position: absolute;
    top: 50px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25em 0.5em;
    margin-top: 0.5em;
    height: auto;
    width: 50%;
  }
  .navtop__element:nth-of-type(3) {
    position: absolute;
    top: 50px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25em 0.5em;
    margin-top: 0.5em;
    height: auto;
    width: 50%;
  }
  .navtop__icon {
    margin: 1em 1em 1em 1em;
    font-size: 1rem;
  }
  .navtop__icon-btn {
    margin: 1em 1em 0em 1em;
  }
  .navtop__left {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 0.1fr);
  }
  .navtop__right {
    position: absolute;
    top: 8px;
    right: 0;
    display: grid;
    grid-template-columns: repeat(4, 40px);
    grid-template-rows: repeat(2, 0.1fr);
    height: 62px;
  }
  .navtop__logo {
    font-size: 1.5rem;
    padding-left: 0;
  }
  .navtop__logo-img {
    margin-bottom: auto;
    width: 35px;
  }
  .navtop__logo-text {
    margin: 0.4em 0 auto 0;
  }
  .navtop__toolicon {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    padding: 0.35em 0.7em;
    margin: 0 0.1em;
    height: 32px;
    width: 32px;
  }
  .navtop__toolicon-search {
    grid-column: 2/3;
  }
  .navtop__toolicon-login {
    grid-column: 3/4;
  }
  .navtop__toolicon-settings {
    grid-column: 4/5;
    margin-right: 0.5em;
  }
  .navtop__toolicon-logintext {
    display: none;
  }
  .navtop__btnicon {
    font-size: 1.4rem;
  }
  .navtop__search, .navtop__login, .navtop__pref, .navtop__settingspanel {
    width: 100%;
    max-width: 538px;
  }
  .navtop__settings {
    left: -10px;
    width: 100%;
  }
  .navtop__search-sportslist {
    width: 150px;
  }
  .navtop__search-inputbox-btn {
    display: flex;
    align-items: center;
    padding: 0.1em 0.2em;
    width: auto;
    font-size: 0.9rem;
  }
  .navtop__search-inputbox-dropdown {
    margin-left: 0.5em;
  }
  .navtop__login-extrasbox, .navtop__login-btn, .navtop__login-smalltext {
    width: 300px;
  }
  .navtop__settingspanel {
    height: 80vh;
    overflow-y: scroll;
  }
  .navtop__settingspanel-gridpanel {
    display: flex;
    flex-direction: column;
  }
  .navtop__pref {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
  }
  .navtop__pref-headerbox {
    height: 72px;
  }
  .navtop__pref-headerbox-header {
    font-size: 2rem;
  }
  .navtop__pref-headerbox-logo {
    width: 35px;
  }
  .navtop__pref-mainbox {
    flex-wrap: wrap;
  }
  .navtop__pref-mainbox-list {
    width: 100%;
    height: 40vh;
    overflow-y: scroll;
  }
  .navtop__pref-mainbox-textbox {
    margin: 0;
    height: auto;
    width: 100%;
    overflow-y: scroll;
  }
  .navtop__pref-btnbox {
    flex-direction: column;
    height: auto;
    bottom: 10%;
  }
  .navtop__pref-btnbox-btn {
    margin: 0 0.55em;
    margin-bottom: 1em;
    width: 100%;
  }
  .navtop__pref-vendorsbox {
    height: 65vh;
    background-color: black;
  }
  .navtop__pref-vendorsbox-top {
    flex-wrap: wrap;
  }
  .navtop__pref-vendorsbox-top-text {
    width: 80%;
  }
  .navtop__pref-vendorsbox-mainbox {
    align-items: center;
  }
  .navtop__pref-vendorsbox-inputbox {
    margin-top: 1em;
    width: 78%;
  }
  .navtop__pref-vendorsbox-filterbtn {
    margin: 1em 1em 0 auto;
  }
  .navtop__pref-vendorsbox-element {
    padding: 1em;
    width: 80%;
  }
  .navtop__pref-vendorsbox-filterslist {
    top: 110px;
    width: 250px;
  }
  .navtop__pref-vendorsbox-anchor {
    top: 100px;
  }
  .navtop__pref-vendorsbox-btnmobile {
    padding: 1em 1.5em;
    width: 42%;
  }
  .regionbar {
    display: none;
    position: absolute;
    top: 205px;
    padding: 1.2em;
    width: 100%;
    height: auto;
    background-color: #010a0f;
    background-color: white;
    overflow: hidden;
    z-index: 100;
  }
  .regionbar__heading {
    font-size: 1.3rem;
  }
  .regionbar__region {
    font-size: 1.3rem;
  }
  .navcategories {
    justify-content: space-between;
    margin: 0;
    padding-right: 1em;
    width: 100%;
  }
  .navcategories__element {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 1em 0.5em 0;
    height: 100%;
    font-size: 0.9rem;
  }
  .navcategories__element:nth-of-type(5), .navcategories__element:nth-of-type(6), .navcategories__element:nth-of-type(7), .navcategories__element:nth-of-type(8) {
    display: none;
  }
  .navcategories__element-zero {
    position: absolute;
    top: 0;
    right: 0;
  }
  .navcategories__element--icon {
    margin-bottom: 0.5em;
    font-size: 1.8rem;
  }
  .navcategories__morebtn {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0;
    margin: 0 0em 0.6em 0;
  }
  .navcategories__menu {
    right: 0;
    height: auto;
    width: 100%;
    overflow: auto;
  }
  .navcategories__menu-element {
    width: 100%;
  }
  .navcategories__menu-number {
    margin-left: auto;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .scores {
    padding: 0;
    margin-top: 0;
    width: 100%;
  }
  .scores__nav {
    flex-wrap: wrap;
    padding: 1em 0 0 0;
    margin-left: 0;
    width: 100%;
    overflow-x: scroll;
  }
  .scores__navbtn {
    margin-bottom: 1.2em;
    font-size: 1.2rem;
  }
  .scores__navbtn:nth-of-type(5) {
    display: none;
  }
  .scores__selectbtnbox {
    display: flex;
    justify-self: center;
    align-content: center;
    justify-content: space-between;
    padding: 1em;
    margin-right: 0;
    width: 100%;
  }
  .scores__maincontrolbtn {
    margin: 0 0.5em;
    width: 70%;
  }
  .scores__controlbtn {
    width: 30px;
  }
  .scores__days {
    top: 5.5%;
    right: 5.3%;
    width: 90%;
  }
  .scores__daylist-day {
    font-size: 1.5rem;
  }
  .scores__heading {
    display: flex;
    align-items: center;
    padding: 0.5em 0em;
  }
  .scores__heading :nth-child(3) {
    display: flex;
    flex-direction: column;
    margin-left: 0.5em;
  }
  .scores__leaguelivetop {
    padding: 0 0.5em;
  }
  .scores__leaguelivebottom {
    padding: 0.5em;
  }
  .scores__time {
    order: 2;
    margin-left: auto;
  }
  .scores__livebtn {
    margin: 0;
    padding: 0.5em 0.1em;
    order: 3;
  }
  .scores__star {
    font-size: 1.8rem;
  }
  .scores__previewbtn, .scores__audiobtn, .scores__channelsbtn {
    display: none;
  }
  .scores__standingsbtn {
    margin-left: auto;
  }
  .scores__teamname {
    padding: 0.1em 0.2em;
  }
  .scores__teamname:nth-of-type(odd) {
    margin-bottom: 0.1em;
  }
  .scores__showbtn {
    margin: 0 0.5em 0 1em;
    font-size: 1.5rem;
  }
  .sitemap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .sitemap__flashscorebox, .sitemap__media, .sitemap__mobile {
    margin: 0.5em 0;
    padding-right: 2em;
    height: auto;
    width: 50%;
  }
  .sitemap__flashscorebox-link, .sitemap__media-link, .sitemap__mobile-link {
    width: 50%;
  }
  .sitemap__btn {
    margin: 0 1em 1em 0;
  }
  .sitemap__mobile {
    width: 90%;
  }
  .sitemap__mobile-btnbox {
    display: flex;
    flex-wrap: wrap;
  }
  main {
    padding: 0;
    width: 100%;
  }
  .mainboxbottom {
    padding: 0;
    width: 100%;
  }
  .mainbox {
    margin-top: 0;
    width: 100%;
  }
  .extracontent {
    display: flex;
    flex-direction: column;
    margin: 1em 0 0.5em 0;
    padding: 1em 2em 1em 0.5em;
    width: 100%;
  }
  .extracontent__text {
    padding: 0 0.5em;
  }
  .sitemap,
  .sitemapbottom {
    padding-top: 1.5em;
    margin-top: 0;
    width: 100%;
  }
  .footer-container {
    margin-bottom: 6em;
    padding: 0;
    width: 100%;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1em;
    padding: 2em 1.2em;
    height: auto;
  }
  .footer__liteversion {
    margin-right: 0;
  }
  .footer__img {
    display: none;
  }
  .footer__text, .footer__link {
    margin-top: 0.7em;
  }
  .footer__text {
    display: flex;
    flex-direction: column;
  }
  .topbtn {
    display: none;
    opacity: 0;
    z-index: -1000;
  }
  .prefbtn {
    display: none;
    position: absolute;
    bottom: 0;
  }
}
@media (min-width: 380px) and (max-width: 640px) {
  .navcategories__element:nth-of-type(5) {
    display: flex;
  }
}
@media (min-width: 430px) and (max-width: 640px) {
  .navcategories__element:nth-of-type(6) {
    display: flex;
  }
  .scores__nav {
    overflow: hidden;
  }
  .scores__navbtn:nth-of-type(5) {
    display: block;
  }
}
@media (min-width: 480px) and (max-width: 640px) {
  .navcategories__element:nth-of-type(7) {
    display: flex;
  }
  .scores__maincontrolbtn {
    width: 85%;
  }
}
@media (min-width: 530px) and (max-width: 640px) {
  .navcategories__element:nth-of-type(8) {
    display: flex;
  }
}
@media (min-width: 638px) and (max-width: 799px) {
  .container-top {
    justify-content: space-between;
    padding: 0 0.5em;
    height: 80px;
  }
  .container-box {
    height: 80px;
    width: 100%;
  }
  .container-box {
    height: 60px;
  }
  .container {
    width: 100%;
  }
  .aside-div {
    display: none;
  }
  .regionbar {
    width: 150px;
  }
  .mainbox {
    margin-top: 0;
    padding: 0 1.2em;
    justify-content: space-between;
    width: 100%;
  }
  .navtop {
    padding: 0 1em;
    width: 100%;
  }
  .navtop__right {
    z-index: 9;
  }
  .navtop__element {
    padding: 0 0.5em;
    margin: 0 1em;
    height: 62px;
    z-index: 10;
  }
  .navtop__logo {
    margin: 0;
    padding: 0;
    font-size: 2rem;
  }
  .navtop__logo-img {
    width: 40px;
  }
  .navtop__toolicon-logintext {
    display: none;
  }
  .navtop__toolicon {
    padding: 0.35em 0.7em;
    margin: 0.5em 0.1em;
  }
  .navtop__toolicon-search {
    grid-column: 2/3;
  }
  .navtop__toolicon-login {
    grid-column: 3/4;
  }
  .navtop__toolicon-settings {
    grid-column: 4/5;
  }
  .navtop__toolicon-logintext {
    display: none;
  }
  .navtop__btnicon {
    font-size: 1.4rem;
  }
  .navtop__search, .navtop__login, .navtop__pref, .navtop__settingspanel {
    width: 100vw;
    max-width: 538px;
  }
  .navtop__settings {
    top: 70px;
    margin-right: 2em;
    width: 320px;
  }
  .navtop__search-sportslist {
    width: 150px;
  }
  .navtop__search-inputbox-btn {
    display: flex;
    align-items: center;
    padding: 0.1em 0.2em;
    width: auto;
    font-size: 0.9rem;
  }
  .navtop__search-inputbox-dropdown {
    margin-left: 0.5em;
  }
  .navtop__login-extrasbox, .navtop__login-btn, .navtop__login-smalltext {
    width: 300px;
  }
  .navtop__settingspanel {
    height: 80vh;
    overflow-y: scroll;
  }
  .navtop__settingspanel-gridpanel {
    display: flex;
    flex-direction: column;
  }
  .navtop__pref {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: scroll;
  }
  .navtop__pref-headerbox {
    height: 72px;
  }
  .navtop__pref-headerbox-header {
    font-size: 2rem;
  }
  .navtop__pref-headerbox-logo {
    width: 40px;
  }
  .navtop__pref-mainbox {
    flex-wrap: wrap;
  }
  .navtop__pref-mainbox-list {
    width: 100%;
    height: 40vh;
    overflow-y: scroll;
  }
  .navtop__pref-mainbox-textbox {
    margin: 0;
    height: auto;
    width: 100%;
    overflow-y: scroll;
  }
  .navtop__pref-btnbox {
    flex-direction: column;
    height: auto;
    bottom: 10%;
  }
  .navtop__pref-btnbox-btn {
    margin: 0 0.55em;
    margin-bottom: 1em;
    width: 90vw;
  }
  .navtop__pref-vendorsbox {
    height: 65vh;
    background-color: black;
  }
  .navtop__pref-vendorsbox-top {
    flex-wrap: wrap;
  }
  .navtop__pref-vendorsbox-top-text {
    width: 80%;
  }
  .navtop__pref-vendorsbox-mainbox {
    align-items: center;
  }
  .navtop__pref-vendorsbox-inputbox {
    margin-top: 1em;
    width: 78%;
  }
  .navtop__pref-vendorsbox-filterbtn {
    margin: 1em 1em 0 auto;
  }
  .navtop__pref-vendorsbox-element {
    padding: 1em;
    width: 80vw;
  }
  .navtop__pref-vendorsbox-filterslist {
    top: 110px;
    width: 250px;
  }
  .navtop__pref-vendorsbox-anchor {
    top: 100px;
  }
  .navtop__pref-vendorsbox-btnmobile {
    padding: 1em 1.5em;
    width: 42%;
  }
  .navcategories {
    padding: 0;
    margin: 0;
    height: 60px;
    width: 100%;
  }
  .navcategories__element {
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0 0.5em;
    height: 60px;
    font-size: 1.3rem;
  }
  .navcategories__element:nth-of-type(5), .navcategories__element:nth-of-type(6), .navcategories__element:nth-of-type(7), .navcategories__element:nth-of-type(8) {
    display: none;
  }
  .navcategories__element:last-of-type {
    margin: 0 1em 0 auto;
  }
  .navcategories__element--icon {
    margin-bottom: 0.5em;
    font-size: 1.8rem;
  }
  .navcategories__firstelement {
    margin-right: 3em;
    margin-left: 0;
  }
  .navcategories__menu {
    right: -1%;
    width: 100%;
    height: auto;
  }
  .navcategories__menu-number {
    margin-left: auto;
  }
  .scores {
    width: 67vw;
  }
  .scores__nav {
    flex-wrap: wrap;
    padding: 1em 0;
    width: 100%;
    overflow: hidden;
  }
  .scores__navbtn {
    font-size: 1.2rem;
  }
  .scores__selectbtnbox {
    display: flex;
    align-content: center;
    justify-content: center;
    justify-content: space-evenly;
    margin: 1em 0 0;
    padding: 1em;
    width: 100%;
    border-bottom: 1px solid #fff;
  }
  .scores__maincontrolbtn {
    margin: 0 0.5em;
    width: 77%;
  }
  .scores__controlbtn {
    width: 30px;
  }
  .scores__days {
    top: 6%;
    right: 6%;
    width: 88%;
  }
  .scores__daylist-day {
    font-size: 1.5rem;
  }
  .scores__heading {
    display: flex;
    align-items: center;
    padding: 0.5em 0em;
  }
  .scores__heading :nth-child(3) {
    display: flex;
    flex-direction: column;
    margin-left: 0.5em;
  }
  .scores__leaguelivebottom {
    padding: 0.5em;
  }
  .scores__time {
    order: 2;
    margin-left: auto;
  }
  .scores__livebtn {
    order: 3;
  }
  .scores__star {
    font-size: 1.8rem;
  }
  .scores__previewbtn, .scores__audiobtn, .scores__channelsbtn {
    display: none;
  }
  .scores__standingsbtn {
    margin-left: auto;
  }
  .scores__teamname {
    padding: 0.1em 0.2em;
  }
  .scores__showbtn {
    margin: 0 0.5em 0 1em;
    font-size: 1.5rem;
  }
  .extracontent {
    margin-left: 34%;
  }
  .sitemap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 1em;
  }
  .sitemap__flashscorebox, .sitemap__media, .sitemap__mobile {
    margin: 1em 0;
    height: auto;
  }
  .sitemap__btn {
    width: auto;
    margin-right: 1em;
  }
  .sitemap__mobile-btnbox {
    display: flex;
  }
  .sitemapbottom {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .sitemapbottom__mobile {
    grid-column: 1/3;
    grid-row: 2/-1;
    height: auto;
  }
  .footer-container {
    margin-bottom: 6em;
    width: 100%;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1em;
    padding: 1.5em 1.1em;
    height: auto;
  }
  .footer__liteversion {
    margin-right: 0;
  }
  .footer__img {
    display: none;
  }
  .footer__text, .footer__link {
    margin-top: 0.7em;
  }
  .footer__text {
    display: flex;
    flex-direction: column;
  }
  .mainboxbottom {
    width: 100vw;
    padding: 0 1em;
  }
  .topbtn {
    display: none;
    opacity: 0;
    z-index: -1000;
  }
  .prefbtn {
    display: none;
    position: absolute;
    bottom: 0;
  }
}
@media (max-width: 1048px) {
  .navtop__settings {
    right: 2%;
  }
}
@media (min-width: 799px) and (max-width: 1047px) {
  .container {
    width: 100vw;
  }
  .aside-div {
    display: none;
  }
  .navtop {
    padding: 0 1em;
  }
  .navtop__element {
    z-index: 10;
  }
  .navtop__right {
    z-index: 9;
  }
  .navtop__toolicon-logintext {
    display: none;
  }
  .navtop__pref {
    top: 8%;
  }
  .container-box {
    border-bottom: 1px solid #999;
  }
  .navcategories {
    justify-content: flex-start;
    margin-bottom: 0;
    height: 60px;
    width: 100%;
    border: none;
  }
  .navcategories__element {
    position: relative;
    margin: 0 0.5em;
    padding: 0;
  }
  .navcategories__element:nth-of-type(2) {
    margin-left: 2em;
  }
  .navcategories__element:nth-of-type(6), .navcategories__element:nth-of-type(7), .navcategories__element:nth-of-type(8) {
    display: none;
  }
  .navcategories__morebtn {
    margin-left: auto;
  }
  .mainbox {
    margin-top: 0.3em;
    padding: 1em;
    width: 100vw;
  }
  .regionbar {
    padding: 0 1em 0 1em;
  }
  .regionbar__btn {
    padding: 0.5em 0;
  }
  .scores {
    width: 75.5%;
  }
  .scores__navbtn {
    font-size: 1.2rem;
  }
  .scores__days {
    height: auto;
  }
  .scores__daylist {
    padding: 0.5em;
  }
  .scores__daylist-day {
    padding: 0.5em;
  }
  .scores__audiobtn {
    padding-right: 0;
  }
  .scores__channelsbtn {
    padding: 0.5em 0;
  }
  .sitemap {
    display: flex;
    margin: 1em 0 2em;
    flex-wrap: wrap;
  }
  .sitemap__flashscorebox, .sitemap__media, .sitemap__mobile {
    height: auto;
    width: 24%;
  }
  .sitemap__flashscorebox:nth-of-type(5), .sitemap__media:nth-of-type(5), .sitemap__mobile:nth-of-type(5) {
    margin-top: 2em;
  }
  .mainboxbottom {
    justify-content: flex-end;
  }
  .extracontent {
    padding: 1em 3em 1em 0;
    margin: 1em 0 1em 24%;
    width: 77%;
    line-height: 1.85;
  }
  .footer-container {
    margin-bottom: 10em;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 1em;
    height: auto;
  }
  .footer__liteversion {
    margin: 1em 0 0 0;
  }
  .footer__img {
    display: none;
  }
  .footer__text, .footer__link {
    margin-top: 0.7em;
    padding: 0.2em 0;
  }
  .footer__text {
    display: flex;
    flex-direction: column;
  }
  .topbtn {
    display: none;
    opacity: 0;
    z-index: -1000;
  }
  .prefbtn {
    display: none;
  }
}
@media (min-width: 820px) and (max-width: 1047px) {
  .navcategories__element:nth-of-type(6) {
    display: flex;
  }
}
@media (min-width: 850px) and (max-width: 960px) {
  .extracontent {
    margin-left: 21%;
  }
}
@media (min-width: 950px) and (max-width: 1047px) {
  .navcategories__element:nth-of-type(7) {
    display: flex;
  }
  .scores {
    width: 80%;
  }
  .extracontent {
    margin-left: 19%;
    width: 80%;
  }
}
@media (min-width: 1047px) and (max-width: 1082px) {
  .mainbox {
    justify-content: flex-start;
  }
}
@media (min-width: 1047px) {
  .container {
    width: 1048px;
  }
}
@media (min-width: 1082px) {
  .extracontent {
    padding-left: 0;
  }
}/*# sourceMappingURL=main.css.map */